@{
    Layout = null;
}
<head>
    <style>
        #UserEmail {
            color: blue;
            text-decoration: underline;
        }
    </style>
</head>
<div>
    <table>
        <tr>
            <td>Password reset scuccessful.</td>
        </tr>
        <tr>
            <td>
                Do you want to email&nbsp;@Model.UserName&nbsp;with the new password?
            </td>     
            <td>
                @Html.ActionLink("Send Email", "EmailPasswordReset", new { userName = @Model.UserName, newPwd = @Model.Password}) 
            </td>
        </tr>
    </table>  
</div>

<div id="ReturnToDashboard">
    @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })
    <br />
    <a href="@Url.Action("Logout", "Home")">LogOut</a>
</div>
