@model BHelp.ViewModels.BulkEmailViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bulk Email Index</title>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
    <style>
        #CSVButton {background-color: green; color:white}
    </style>
</head>
<body>
<div >
@using (Html.BeginForm("Index", "BulkEmail", FormMethod.Post))
{
    <div>
        <span><b>Get Email Address List</b></span>
    </div>
    <div>
        <table>
            <tr>
                <td style="text-align: center"><b>List Name</b></td>
                <td style="text-align: center"><b>Select</b></td>
                <td><b>Include Inactives</b></td>
            </tr>
            <tr>
                <td>Drivers</td>
                <td style="text-align: center">
                    @Html.CheckBoxFor(m => m.DriverSelect)
                    (@Model.ActiveDriverList.Count)
                </td>
                <td style="text-align: center">
                    @Html.CheckBoxFor(m => m.DriverIncludeInactives)
                    (@Model.DriverPlusInactiveList.Count)
                </td>
            </tr>
            <tr>
            <td>ODs</td>
            <td style="text-align: center">
                @Html.CheckBoxFor(m => m.ODSelect)
                (@Model.ActiveODList.Count)
            </td>
            <td style="text-align: center">
                @Html.CheckBoxFor(m => m.ODIncludeInactives)
                (@Model.ODPlusInactiveList.Count)
            </td>
            @*</tr>
        <tr>
            <td>Management</td>  <!--  Management not implemented yet -->
            <td style="text-align: center">
                @Html.CheckBoxFor(m => m.ManagementSelect)
            (@Model.ActiveManagementList.Count)
        </td>
        <td style="text-align: center">
            @Html.CheckBoxFor(m => m.ManagementIncludeInactives)
        (@Model.ManagementPlusInactiveList.Count)
        </td>
        </tr>*@
            <tr>
                <td>Staff</td>
                <td style="text-align: center">
                    @Html.CheckBoxFor(m => m.StaffSelect)
                    (@Model.ActiveStaffList.Count)
                </td>
                <td style="text-align: center">
                    @Html.CheckBoxFor(m => m.StaffIncludeInactives)
                    (@Model.StaffPlusInactiveList.Count)
                </td>
            </tr>
            <td>All Volunteers</td>
            <td style="text-align: center">
                @Html.CheckBoxFor(m => m.AllUsersSelect)
                (@Model.AllActiveUsersList.Count)
            </td>
            <td style="text-align: center">
                @Html.CheckBoxFor(m => m.AllUsersIncludeInactives)
                (@Model.AllUsersPlusInactiveList.Count)
            </td>
        </table>
    </div>

@*<div>     
    <br />
    <table>
        <tr>
            <td>Email Subject:&nbsp;</td>
            <td>
                @Html.TextBoxFor(t => t.Subject,
                    new { style = "width: 200px" })
                <span style="font-style: italic; color: darkmagenta">&#8592;Each email subject should begin with</span>
                &nbsp;<span style="color: darkmagenta">BHELP</span>
            </td>
        </tr>
        <tr>
            <td>Email Text: &nbsp;</td>
            <td>@Html.TextAreaFor(t => t.EmailText,
                    new{ style = "width: 800px; height: 100px"})</td>
        </tr>
    </table>
    </div>*@

    <div>
        <br/>
        <span><input type="submit" value="Download CSV File" class="btn btn-default" id="CSVButton"/></span>
        @*<span style="color:blue">email not implemented yet...</span>*@
    </div>
}
    </div>

<br/>
<div>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>
