@model BHelp.ViewModels.BulkEmailViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bulk Email Index</title>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
    <style>
        #CSVButton {background-color: green; color:white}
    </style>
</head>
<body>
<div >
    @using (Html.BeginForm("Index", "BulkEmail", FormMethod.Post))
    {
        <div>
            @Html.HiddenFor(m => m.JsonActiveODs)
            @Html.HiddenFor(m => m.JsonActiveDrivers)
            @Html.HiddenFor(m => m.JsonActiveBaggers)
            @Html.HiddenFor(m => m.JsonActiveStaff)
            @Html.HiddenFor(m => m.JsonAllActiveUsers)
            <span><b>Get Email Address List</b></span>
        </div>
        <div>
            <table>
                <tr>
                    <td style="text-align: center"><b>List Name</b></td>
                    <td style="text-align: center"><b>Select</b></td>
                </tr>
                <tr>
                    <td>Drivers</td>
                    <td style="text-align: left">
                        @Html.CheckBoxFor(m => m.DriverSelect)
                        (@Model.ActiveDriverList.Count)
                    </td>
                </tr>
                <tr>
                    <td>Baggers</td>
                    <td style="text-align: left">
                        @Html.CheckBoxFor(m => m.BaggerSelect)
                        (@Model.ActiveBaggerList.Count)
                    </td>
                </tr>
                <tr>
                    <td>ODs</td>
                    <td style="text-align: left">
                        @Html.CheckBoxFor(m => m.ODSelect)
                        (@Model.ActiveODList.Count)
                    </td>
                </tr>
                <tr>
                    <td>Staff</td>
                    <td style="text-align: left">
                        @Html.CheckBoxFor(m => m.StaffSelect)
                        (@Model.ActiveStaffList.Count)
                    </td>
                </tr>
                <tr>
                    <td>All Users</td>
                    <td style="text-align: center">
                        @Html.CheckBoxFor(m => m.AllUsersSelect)
                        (@Model.AllActiveUsersList.Count)
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <br/>
            <span><input type="submit" value="Create Address List" class="btn btn-default" id="CSVButton"/></span>
        </div>
        //if (!Model.EmailString.IsNullOrEmpty())
        if (!String.IsNullOrEmpty(Model.EmailString))
        {
        <div>
            <br />
            <span>List of addresses with no duplicates: click in text to select all,</span>
            <br />
            <span>copy and paste in your email Bcc area.</span>
            <br />
            <textarea rows="20" id="txtarea" onclick="this.select();" 
                      style="width:600px">@Model.EmailString </textarea>
        </div>
        }
    }
</div>
<br/>
<div>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>
