@model BHelp.ViewModels.BulkEmailViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bulk Email Index</title>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    <div>
        <span><b>Send Emails</b></span>
    </div>
    <div>
        <table>
            <tr>
                <td style="text-align: center"><b>List Name</b></td>
                <td style="text-align: center"><b>Select</b></td>
                <td><b>Include Inactives</b></td>
            </tr>
            <tr>
                <td>Drivers</td>
                <td style="text-align: center">@Html.CheckBoxFor(m => m.DriverSelect )
                    (@Model.ActiveDriverList.Count)</td>
                <td style="text-align: center">@Html.CheckBoxFor(m => m.DriverIncludeInactives)
                    (@Model.DriverPlusInactiveList.Count)</td>
            </tr>
            <tr>
                <td>ODs</td>
                <td style="text-align: center">@Html.CheckBoxFor(m => m.ODSelect)
                    (@Model.ActiveODList.Count)</td>
                <td style="text-align: center">@Html.CheckBoxFor(m => m.ODIncludeInactives)
                    (@Model.ODPlusInactiveList.Count)</td>
            </tr>
            @*<tr>
                <td>Management</td>
                <td style="text-align: center">@Html.CheckBoxFor(m => m.ManagementSelect)
                    (@Model.ManagementList.Count)</td>
                <td style="text-align: center">@Html.CheckBoxFor(m => m.ManagementIncludeInactives)
                     (@Model.ManagementPlusInactiveList.Count)</td>
            </tr>*@
            <td>All Volunteers</td>
            <td style="text-align: center">@Html.CheckBoxFor(m => m.AllUsersSelect)
                (@Model.AllActiveUsersList.Count)</td>
            <td style="text-align: center">@Html.CheckBoxFor(m => m.AllUsersIncludeInactives)
                (@Model.AllUsersPlusInactiveList.Count)</td>
        </table>
    </div>
    <br />
    <div>
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </div>
</body>
</html>
