@model BHelp.ViewModels.DeliveryViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmCreateDelivery</title>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
@using (Html.BeginForm("HouseholdAndDeliveryActions", "OD", FormMethod.Post))
{
    <div>
        Delivery to:
        @Html.DisplayFor(model => model.FullName) &nbsp;
        @Html.DisplayFor(model => model.StreetNumber)
        @Html.DisplayFor(model => model.StreetName)
    </div>
    <br/>
    <div>
        This delivery is not eligible until &nbsp;
        <strong>@Html.DisplayFor(m => m.DeliveryDate)!</strong>
        &nbsp;or this client already has an open delivery.
        <br />
        Do you wish to continue?&nbsp;@Html.ActionLink("Yes",
           "HouseholdAndDeliveryActions", new{ btnDeliveryConfirmed = "Yes" })
    </div>
    <br/>
    <div>
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </div>
}
</body>
</html>