@using System.Web.Mvc.Html
@using BHelp.ViewModels

@model HouseholdViewModel
@{ Layout = null; }
<!DOCTYPE html>
@{ ViewBag.Title = "Index"; }
@{ var searchResults = (IEnumerable<HouseholdViewModel>)TempData["SearchResults"]; }
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        p.indent {
            padding-left: 1em
        }

        div {
            padding-left: 5px
        }
    </style>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    @*Put page javascript in a separate .js file where breaks can be set during debugging:*@
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>

<body>
@if (User.IsInRole("OfficerOfTheDay"))
{
    <b>Call Log - find and select household</b>
}
<div id="Header">
@if (User.IsInRole("OfficerOfTheDay") || User.IsInRole("Administrator"))
{
    <table class="table">
        <tr>
            <td><b>OD Name:</b>&nbsp;@Session["CurrentUserFullName"]</td>
        <tr>
    </table>
}
    <table>
        <tr>
            <td><b>Search for Existing Client:</b></td>
            <td>
                @Html.TextBox("SearchText", "", new
                {
                    id = "SearchText", style = "width: 50px;", onkeypress = "KeyPressHandler()",
                    Title = "Tip: Enter full or partial Phone# OR Last Name OR Street Number", autofocus = true
                })
            </td>
            <td>
                <a href="#" id="SearchString"><span>Search</span></a>
                <span style="color: darkmagenta">&#8592; (Enter full or partial Phone# OR Last Name OR Street Number)</span>
            </td>
        </tr>
    </table>
</div>
<div id="SearchResults">
    @if (searchResults != null)
    {
        <table class="table">
            <tr><td> found:
                @{
                    var householdViewModels = searchResults as HouseholdViewModel[] ?? searchResults.ToArray();
                }
                @householdViewModels.Count()</td></tr>
            <tr id="Column Headers">
                <th>
                    <div style="width: 100px", align="left">@Html.DisplayNameFor(model => model.LastName)</div></th>
                <th>
                    <div style="width: 100px", align="left">@Html.DisplayNameFor(model => model.FirstName)</div></th>
                <th>
                    <div style="width: 40px", align="left">@Html.DisplayNameFor(model => model.StreetNumber)</div></th>
                <th>
                    <div style="width: 50px", align="left">@Html.DisplayNameFor(model => model.StreetName)</div></th>
                <th>
                    <div style="width: 50px", align="left"> @Html.DisplayNameFor(model => model.City)</div></th>
                <th>
                    <div style="width: 25px", align="left">@Html.DisplayNameFor(model => model.Zip)</div></th>
                <th>
                    <div style="width: 60px", align="left"> @Html.DisplayNameFor(model => model.Phone)</div></th>
                @*<th>@Html.DisplayNameFor(model => model.FamilyMembers)</th>*@
                <th>
                    <div style="width: 60px", align="left"> @Html.DisplayNameFor(model => model.Notes)</div></th>
                <th></th>
            </tr>

            @foreach (var item in householdViewModels)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.StreetNumber)</td>
                    <td title=@item.StreetToolTip>
                        @Html.DisplayFor(modelItem => item.StreetName)
                    </td>
                    <td title=@item.CityToolTip>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Zip)</td>
                    <td title=@item.PhoneToolTip>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    @*<td>
                            @Html.DropDownListFor(modelitem => item.Phone, item.FamilySelectList)
                            (@item.FamilyMembers.Count)
                        </td>*@
                    <td title=@item.NotesToolTip>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.ActionLink("Select", "UpdateHousehold", new {id = item.ClientId})
                    </td>
                </tr>
            }
        </table>
    }
</div>
<br/>
<div>
    @Html.ActionLink("Create New Household", "CreateNewHousehold", new {})
</div>
<div>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>

<script>
    $(function () {
        window.$("#CallLogDate").datepicker();
    });
</script> @*CallLogDate datepicker*@
<script type="text/javascript">
    $("#CallLogDate").change(function () {
        UpdateCallLogDate(window.$('#CallLogDate').val());
    });
</script> @*CallLogDate change*@

<script type="text/javascript">
    $("#SearchString").click(function () {
        var text = window.$("#SearchText").val();
        SearchHouseholds(text);
    });
</script> @*SearchHouseholds*@

<script type=text/javascript>
    function KeyPressHandler(SearchText, e) {
        //the purpose of this function is to allow the enter key to
        //point to the correct button to click.
        var key;

        if (window.event)
            key = window.event.keyCode;     //IE
        else
            key = e.which;     //firefox

        if (key === 13) {
            //Get the button the user wants to have clicked
            var btn = document.getElementById("SearchString");
            if (btn != null) { //If we find the button click it
                btn.click();
                event.keyCode = 0;
            }
        }
    }
</script> @*KeyPressHandler*@
