@using System.Web.Mvc.Html
@model BHelp.ViewModels.HolidayViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
        #CreateButton {background-color: blue;color: white}
    </style>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create New Holiday</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description,
                    new { htmlAttributes = new { style = "width: 230px;", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description,
                    "", new { @style = "color: red", @class = "text-danger" })
                
                &nbsp;&nbsp;@Html.LabelFor(model => model.FixedDate, htmlAttributes: new { @id = "FixedDateLabel", @class = "control-label col-md-2" })
                @Html.TextBoxFor(model => model.FixedDate, Model.FixedDate.ToString("MM/dd/yyyy"),
                    new { id = "FixedDate", style = "width: 75px;" })
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id="CreateButton" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <br />
    <div>
        @Html.ActionLink("Back to List", "Index")
        <div>
            @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        window.$('#AnnualMonthDayDiv').hide();
        window.$('#AnnualMonthWeekDayDiv').hide();
        window.$('#EffectiveDateDiv').hide();
    });
</script>
<script>
    $(function () {
        window.$("#FixedDate").datepicker({
            minDate: -0, beforeShowDay: window.$.datepicker.noWeekends
        });
        window.$("#EffectiveDate").datepicker();
    });
</script>
<script type="text/javascript">
    $(function () {
        window.$('#RepeatsDDL').change(function () {
            var value = window.$(this).val();
            if (value === '0') {
                window.$('#AnnualMonthDayDiv').hide();
                window.$('#AnnualMonthWeekDayDiv').hide();
                window.$('#EffectiveDateDiv').hide();
                window.$('#FixedDateLabel').show();
                window.$('#FixedDate').show();
            }
            else {
                window.$('#FixedDate').hide();
                window.$('#FixedDateLabel').hide();
            }

            if (value === '1') {
                window.$('#AnnualMonthWeekDayDiv').hide();
                window.$('#AnnualMonthDayDiv').show();
                window.$('#EffectiveDateDiv').show();
            }

            if (value === '2') {
                window.$('#AnnualMonthDayDiv').hide();
                window.$('#AnnualMonthWeekDayDiv').show();
                window.$('#EffectiveDateDiv').show();
            }
        });
    });
</script>
