@model BHelp.Models.Holiday
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <style>
        #SaveButton {
            background-color: blue;
            color: white
        }
    </style>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    @using (Html.BeginForm("Edit", "Holidays", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit Holiday</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(d => d.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Repeat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(r => r.Repeat,
                        Model.Repeats, new { @id = "RepeatsDDL" })
                    @Html.ValidationMessageFor(r => r.Repeat, "", new { @class = "text-danger" })

                    &nbsp;&nbsp;@Html.LabelFor(model => model.FixedDate, htmlAttributes: new { @id = "FixedDateLabel", @class = "control-label col-md-2" })
                    @Html.TextBoxFor(d => d.FixedDate, Model.FixedDate.ToString("MM/dd/yyyy"),
                        new { id = "FixedDate", style = "width: 75px;" })
                </div>
            </div>

            <div id="MonthDiv">
                <div class="form-group">
                    @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Month, Model.Months)
                        @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div> @*/MonthDiv*@

            <div id="AnnualMonthDayDiv">
                @*======================================*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(d => d.Day,
                            Model.Days, new { @id = "DaysDDL" })
                        @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div> @*/AnnualMonthDayDiv*@  @*======================================*@

            <div id="AnnualMonthWeekDayDiv">
                <div class="form-group">
                    @Html.LabelFor(model => model.WeekNumber, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(n => n.WeekNumber, Model.WeekDayNumbers, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(n => n.WeekNumber, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Weekday, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(w => w.Weekday, Model.WeekDays)
                            @Html.ValidationMessageFor(model => model.Weekday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div> @*/</div>AnnualMonthWeekDayDiv*@

            <div id="EffectiveDateDiv">
                <div class="form-group">
                    @Html.LabelFor(model => model.EffectiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(d => d.EffectiveDate, Model.EffectiveDate.ToString("MM/dd/yyyy"),
                            new { id = "EffectiveDate", style = "width: 75px;" })
                        @Html.ValidationMessageFor(model => model.EffectiveDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div> @*/EffectiveDateDiv*@
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" id="SaveButton" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <div>
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        window.$('#AnnualMonthDayDiv').hide();
        window.$('#AnnualMonthWeekDayDiv').hide();
        window.$('#EffectiveDateDiv').hide();
        var value = window.$("#RepeatsDDL").val();
        if (value === '1') {
            window.$('#AnnualMonthDayDiv').show();
            window.$('#EffectiveDateDiv').show();
        }
        if (value === '2') {
            window.$('#AnnualMonthWeekDayDiv').show();
            window.$('#EffectiveDateDiv').show();
        }
    });
</script>
<script>
    $(function () {
        window.$("#FixedDate").datepicker({
            minDate: -0, beforeShowDay: window.$.datepicker.noWeekends
        });
        window.$("#EffectiveDate").datepicker();
    });
</script>
<script type="text/javascript">
    $(function () {
        window.$('#RepeatsDDL').change(function () {
            var value = window.$(this).val();
            if (value === '0') {
                window.$('#MonthDiv').hide();
                window.$('#AnnualMonthDayDiv').hide();
                window.$('#AnnualMonthWeekDay').hide();
                window.$('#EffectiveDateDiv').hide();
                window.$('#FixedDate').show();
                window.$('#FixedDateLabel').show();
            } else {
                window.$('#FixedDate').hide();
                window.$('#FixedDateLabel').hide();
            }
            if (value === '1') {
                window.$('#AnnualMonthWeekDayDiv').hide();
                window.$('#MonthDiv').show();
                window.$('#AnnualMonthDayDiv').show();
                window.$('#EffectiveDateDiv').show();
            }
            if (value === '2') {
                window.$('#AnnualMonthDayDiv').hide();
                window.$('#MonthDiv').show();
                window.$('#AnnualMonthWeekDayDiv').show();
                window.$('#EffectiveDateDiv').show();
            }
        });
    });
</script>
