@model IEnumerable<BHelp.Models.Holiday>
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        &nbsp;@Html.ActionLink("Create New", "Create")
        &nbsp;&nbsp;@Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixedDate)
            </th>
        </tr>

        @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    @if (item.Repeat == 0)
                    {
                        @*Does not repeat*@
                        @* as of 11/02/2023, this is the only option *@
                        string fixeddate = item.FixedDate.ToString("MM/dd/yyyy");
                        <td>@fixeddate</td>
                    }

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
    </table>
    <br />
    <div>
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </div>
</body>
</html>
