@model BHelp.Models.Delivery
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4> Edit Delivery</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <table>
                <tr>
                    <td>Log Date:</td>
                    <td>@Html.DisplayFor(model => model.LogDate)</td>
                    <td>&nbsp;@Html.DisplayFor(model => model.FirstName)</td>
                    <td>&nbsp;@Html.DisplayFor(model => model.LastName)</td>
                    <td>&nbsp;@Html.DisplayFor(model => model.StreetNumber)</td>
                    <td>&nbsp;@Html.DisplayFor(model => model.StreetName)</td>
                    <td>&nbsp;@Html.DisplayFor(model => model.City)</td>
                    <td>&nbsp;@Html.DisplayFor(model => model.Zip)</td>
                </tr>
                <tr>
                    <td>Children:</td>
                    <td>&nbsp;@Html.LabelFor(model => model.Children)</td>
                    <td>&nbsp;Adults:</td>
                    <td>&nbsp;@Html.LabelFor(model => model.Adults)</td>
                    <td>&nbsp;Seniors:</td>
                    <td>&nbsp;@Html.LabelFor(model => model.Seniors)</td>
                    <td>&nbsp;Giant Cards Eligible:</td>
                    <td>&nbsp;@Html.LabelFor(model => model.GiftCardsEligible)</td>
                </tr>
            </table>
            <br/>
            <table>
                <tr>
                    <td>Full Bags:&nbsp;</td>
                    <td>@Html.EditorFor(model => model.FullBags, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullBags, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Half Bags:&nbsp;</td>
                    <td>
                        @Html.EditorFor(model => model.HalfBags, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HalfBags, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Kid Snacks:&nbsp;</td>
                    <td>
                        @Html.EditorFor(model => model.KidSnacks, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KidSnacks, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Giant Cards:&nbsp;</td>
                    <td>
                        @Html.EditorFor(model => model.GiftCards, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GiftCards, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Date Delivered:&nbsp;</td>
                    <td>
                        @Html.EditorFor(model => model.DateDelivered, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateDelivered, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Completed:&nbsp;</td>
                    <td>
                        @Html.EditorFor(model => model.Completed, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Completed, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Driver Notes:&nbsp;</td>
                    <td>
                        @Html.EditorFor(model => model.DriverNotes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DriverNotes, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<br />
<div>
    @Html.ActionLink("Return To Dashboard", "ReturnToDashboard")
</div>

</body>
</html>
