@model BHelp.ViewModels.DeliveryViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
</head>
<body>
<h4>All Open Deliveries</h4>
@if (Model.DeliveryList != null && Model.DeliveryList.Any())
{
    foreach (var item in Model.DeliveryList)
    {
        <table>
            <tr>
                <td><b>@Html.Label("Date: ")</b></td>
                <td>@Html.DisplayFor(modelItem => item.DateDelivered)</td>
                <td><b>@Html.Label("Driver:")</b></td>
                <td>@Html.DisplayFor(modelItem => item.DriverName)</td>
                <td><b>@Html.Label("Zip:")</b></td>
                <td>@Html.DisplayFor(modelItem => item.Zip)</td>
                <td><b>@Html.Label("Client:")</b></td>
                <td>@Html.DisplayFor(modelItem => item.ClientNameAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td><b> @Html.Label("HH#:")</b></td>
                <td>@Html.DisplayFor(modelItem => item.HouseoldCount)</td>
                <td>@Html.ActionLink("Edit", "Edit", new {id = item.Id})</td>
            </tr>
        </table>
    }
}
<br />
<div>
    @Html.ActionLink("Download to Excel", "ExcelOpenDeliveries", new { })
    <span style="color: darkmagenta">&#8592;Will include Client Notes, OD Notes, and Driver Notes</span>
</div>
<div id="ReturnToDashboard">
    @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })
</div>
</body>
</html>
<script>
    $(function () {
        window.$("#LogDate").datepicker();
    });
</script> @*LogDate datepicker*@
<script>
    $(document).ready(function () {
        window.$(".datepicker").datepicker({
            dateFormat: "dd-mm-yy",
            changemonth: true,
            changeyear: true
        });
    });
</script>
<script type="text/javascript">
    $("#LogDate").change(function () {
        UpdateDriverLogDate(window.$('#LogDate').val());
    });
</script>