@model BHelp.ViewModels.DeliveryViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
<span><b>All Open Deliveries</b></span>
@if (Model.DeliveryList != null && Model.DeliveryList.Any())
{
    {
        <table>
            <tr>
                <td><b>DelivDate</b></td>
                <td><b>Driver</b></td>
                <td style="text-align: center"><b>Zip</b></td>
                <td><b>Client</b></td>
                <td><b>City</b></td>
                <td><b>Phone</b></td>
                <td><b>#HH</b></td>
            </tr>

            @foreach (var item in Model.DeliveryList)
            {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DeliveryDate)</td>
            <td>@Html.DisplayFor(modelItem => item.DriverName)</td>
            <td>@Html.DisplayFor(modelItem => item.Zip)</td>
            <td>@Html.DisplayFor(modelItem => item.ClientNameAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.City)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td style="text-align: center">@Html.DisplayFor(modelItem => item.HouseoldCount)</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
        </tr>
            }
        </table>
    }
}
<br />
<div>
    @Html.ActionLink("Filter Open Deliveries", "OpenFilters")
    <span style="color: darkmagenta">&#8592;Filter by Date/Driver; Bulk Changes</span>
    <br />
    @Html.ActionLink("Download to Excel File", "ExcelOpenDeliveries", new { })
    @*<span style="color: darkmagenta">&#8592;Will include Client Notes, OD Notes, and Driver Notes</span>*@
    <br />
    @Html.ActionLink("Download to CSV File", "OpenDeliveriesToCSV", new { })
</div>
<div id="ReturnToDashboard">
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>
<script>
    $(function () {
        window.$("#LogDate").datepicker();
    });
</script> @*LogDate datepicker*@
<script>
    $(document).ready(function () {
        window.$(".datepicker").datepicker({
            dateFormat: "dd-mm-yy",
            changemonth: true,
            changeyear: true
        });
    });
</script>
<script type="text/javascript">
    $("#LogDate").change(function () {
        UpdateDriverLogDate(window.$('#LogDate').val());
    });
</script>