@model IEnumerable<BHelp.Models.Delivery>

@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Children)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seniors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullBags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HalfBags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KidSnacks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiftCardsEligible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiftCards)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ODId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDelivered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ODNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverNotes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
      
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamesAgesInHH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seniors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullBags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HalfBags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KidSnacks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiftCardsEligible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiftCards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ODId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ODNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverNotes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id})
            </td>
        </tr>
    }

</table>
</body>
</html>
