@using System.Web.Mvc.Html
@model IEnumerable<BHelp.ViewModels.ClientViewModel>
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .col25 {width: 25px;text-align: center}
        .col40 {width: 40px;text-align: left}
        .col50 {width: 50px;text-align: left}
        .col75{width: 75px;text-align: left}
        .col100{ width: 100px; text-align: left;}
    </style>
</head>
<body>
    <table class="table">
        <tr><td>&nbsp;&nbsp; User Name:&nbsp; @User.Identity.Name</td></tr>
        <tr>
    </table>
    <h3>Add/Edit Clients</h3>
    <table>
        <tr>
            <td>@Html.ActionLink("Create New Client", "Create")</td>
            <td>&nbsp;&nbsp;@Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })</td>
            <td>&nbsp;&nbsp;@Html.ActionLink("Download To Excel File", "ClientListToExcel")</td>
        </tr>
    </table>

<table class="table">
    <tr>
        <td><div class="col50">@Html.Label("Active")</div></td>
        <td><div class="col75">@Html.Label("Last Name")</div></td>
        <td><div class="col75">@Html.Label("First Name")</div></td>
        <td><div>@Html.Label("Age")</div></td>
        <td><div class="col50">@Html.Label("St#")</div></td>
        <td><div class="col100">@Html.Label("Street")</div></td>
        <td><div class="col100">@Html.Label("City")</div></td>
        <td><div class="col25">@Html.Label("Zip")</div></td>
        <td><div class="col100">@Html.Label("Phone")</div></td>
        <td><div class="col100">@Html.Label("Notes")</div></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center">@Html.DisplayFor(modelItem => item.Active)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.Age)</td>
            <td>@Html.DisplayFor(modelItem => item.StreetNumber)</td>
            <td title=@item.StreetToolTip>
                @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td title=@item.CityToolTip>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td title=@item.PhoneToolTip>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td title=@item.NotesToolTip>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id})
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {id = item.Id},new{@style="color:red"})
            </td>
        </tr>
    }
</table>

<br/>
<div id="ReturnToDashboard">
    @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new {})
</div>
</body>
</html>