@using DocumentFormat.OpenXml.Drawing.Charts
@model BHelp.Models.ApplicationUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        p.indent {
            padding-left: 1em
        }
        div {
            padding-left: 10px
        }
    </style>
</head>
<body>

<div>
    <table>
        <tr>
            <td>&nbsp;&nbsp; Welcome  @User.Identity.Name!</td>
        </tr>
        <tr>
            <td>
                <p style="text-decoration:underline" class="indent"><strong>Bethesda Help Food Delivery Program Dashboard</strong></p>
            </td>
        </tr>
    </table>
</div>

<div>
    <strong>Administator Menu</strong><br />
    <a href="@Url.Action("UploadClients", "Home")">Upload Clients Utility</a><br />
    <a href="@Url.Action("UploadAdults", "Home")">Upload Adults Utility</a><br />
</div>
<br/>
<div>
    <strong>Staff Menu</strong><br />
    <a href="@Url.Action("Index", "Clients")">Maintain Clients (Head of Household)</a><br />
    <a href="@Url.Action("Index", "FamilyMembers")">Maintain Household Members (Family)</a><br />
    <a href="@Url.Action("Index", "Household")">Maintain Households</a><br />
    <br/>
</div>

<div>
    @Html.AntiForgeryToken()
    <a href="@Url.Action("Logout", "Home")">LogOut</a>
</div>

</body>
</html>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@