@model BHelp.Models.ApplicationUser
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        p.indent {padding-left: 1em}
        div {padding-left: 10px}
        #btnView {background-color: white;color: blue;border: none;text-decoration: underline;
             padding: 0;font-size: 14px}
    </style>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    <div>
        <table>
            @{ string userName = @User.Identity.Name + "!"; }
            <tr><td>&nbsp;&nbsp; Welcome @userName</td></tr>
            <tr>
                <td>
                    <p style="text-decoration: underline" class="indent"><strong>Bethesda Help Food Delivery Program Dashboard</strong></p>
                </td>
            </tr>
        </table>
    </div>

    @if (User.IsInRole("Developer"))
    {
        <div>
            <strong>Developer Menu</strong><br />
            <a href="@Url.Action("Index", "DriverEmail")">Driver Email</a><br />
            <a href="@Url.Action("Edit", "DriverSchedule")">Driver Schedule</a><br />
            <a href="@Url.Action("Edit", "ODSchedule")">OD Schedule</a><br />
            <a href="@Url.Action("Index", "Logins")">View Logins Log</a><br />
            <a href="@Url.Action("BetaClientList", "Clients")">Generate Beta Client List</a><br />
            <a href="@Url.Action("Index", "AssistancePayments")">Assistance Payments</a><br />
            <a href="@Url.Action("AddDateCreatedToClients", "Clients")">Add DateCreated To Clients</a><br />
        </div>
        <br />
    }

    @if (User.IsInAnyRoles("Administrator","Developer"))
    {
<div>
    <strong>Administrator Menu</strong><br />
    @if (Model.ShowAdminDocumentsMenu)
    {
        <a href="@Url.Action("ViewDocumentCategory", "Documents", new{menuCat="Administrator"})">View Admin Documents</a><br />
    }
    <a href="@Url.Action("MaintainUsers", "Home")">Maintain Volunteers / Website Users</a><br />
    <a href="@Url.Action("MaintainUserRoles", "Home")">Maintain User Permissions (&quot;Roles&quot;)</a><br />
    <a href="@Url.Action("ResetVoicemailPassword", "Home")">Reset Voicemail Password</a><br />
    <a href="@Url.Action("ResetAnyPassword", "Account")">Reset Any Password</a><br />
    <a href="@Url.Action("Index", "Documents")">Maintain Documents</a><br />
    <a href="@Url.Action("Index", "AddressChecks")">Maintain New Client Address Check List</a><br />
    <br />
</div>
    }

    @if (User.IsInAnyRoles("Developer","Staff","Administrator"))
    {
        <div>
            <strong>Staff Menu</strong><br />
            <a href="@Url.Action("Index", "Clients")">Maintain Clients</a>
            <span style="color: darkmagenta">("Alpha List")</span><br />
            <a href="@Url.Action("Index", "OD")">Maintain Family Members (Family)</a>
            <span style="color: darkmagenta"> (Go to OD Select Client page)</span><br />
            <a href="@Url.Action("CallLogMenu", "Deliveries")">Maintain Call Log History</a><br />
            <a href="@Url.Action("Index", "Deliveries")">Maintain Open Deliveries</a><br />
            <a href="@Url.Action("Index", "GroupNames")">Maintain Client Group Names</a><br />
            <a href="@Url.Action("Index", "GroupMembers")">Maintain Client Group Members</a><br />
            @if (Model.ShowStaffDocumentsMenu)
            {
                <a href="@Url.Action("ViewDocumentCategory", "Documents", new {menuCat="Staff"})">View Staff Documents</a><br />
            }
            <br />
        </div>
    }

    @if (User.IsInAnyRoles("Developer","Administrator", "Scheduler"))
    {
        <div>
            <strong>Email Menu</strong><br />
            <a href="@Url.Action("Index", "BulkEmail")">Bulk Emails (Beta Test)</a><br />
        </div>
        <br />
    }
    
    @if (User.IsInAnyRoles("Developer","Administrator", "FinancialStaff"))
    {
        <div>
            <strong>Financial Assistance (Beta Test)</strong><br />
            <a href="@Url.Action("Index", "AssistancePayments")">Maintain Payments</a><br />
        </div>
        <br />
    }

@if (User.IsInAnyRoles("Reports","Developer","Administrator"))
    {
        <div>
            <strong>Reports Menu</strong><br />
            @if (Model.ShowReportsDocumentsMenu)
            {
                <a href="@Url.Action("ViewDocumentCategory", "Documents", new {menuCat="Reports"})">View Reports Documents</a><br />
            }
            <a href="@Url.Action("ReportsMenu", "Reports")">Reports</a><br />
        </div>
        <br />
    }

    @if (User.IsInAnyRoles("PantryCoordinator","Developer","Administrator"))
    {
        <div>
            <strong>Pantry Coordinator Menu</strong><br />
            <a href="@Url.Action("Index", "Deliveries")">View Open Deliveries</a><br />
            @if (Model.ShowPantryCoordinatorDocumentsMenu)
            {
                <a href="@Url.Action("ViewDocumentCategory", "Documents", new {menuCat="PantryCoordinator"})">View Pantry Coordinator Documents</a><br />
            }
        </div>
        <br />
    }

@if (User.IsInAnyRoles("Developer","Scheduler","Administrator"))
{
<div>
    <strong>Scheduler Menu</strong><br />
    <a href="@Url.Action("Edit", "DriverSchedule")">Maintain Driver Schedules</a><br />
    @*<a href="@Url.Action("Index", "DriverEmail")">Driver Schedule Email</a><br />*@
    <a href="@Url.Action("Edit", "ODSchedule")">Maintain OD Schedules</a><br />
    @*<a href="@Url.Action("Index", "ODEmail")">OD Schedule Email</a><br />*@
    <a href="@Url.Action("Index", "Holidays")">Maintain Holidays</a><br />
</div>
    <br />
}

@if (User.IsInAnyRoles("Developer","OfficerOfTheDay","Staff","Administrator"))
    {
<div>
    <strong>Officer of the Day Menu</strong><br />
    <a href="@Url.Action("Index", "OD")">Call Log - OD Section</a><br />
    <a href="@Url.Action("Index", "Deliveries")">Maintain Open Deliveries</a><br />
    <a href="@Url.Action("Edit", "ODSchedule")">View OD Schedules</a><br />
    <a href="@Url.Action("Edit", "DriverSchedule")">View Driver Schedules</a><br />
    <a href="@Url.Action("CallLogMenu", "Deliveries")">View Call Log History</a><br />
    @if (Model.ShowODDocumentsMenu)
    {
        <a href="@Url.Action("ViewDocumentCategory", "Documents", new{menuCat="OfficerOfTheDay"})">View OD Documents</a><br />
    }
    <a href="https://sso.godaddy.com/v1/login?app=email&realm=pass" target="_blank">Go To Voicemail Login</a>
    <span style="font-style: italic; color: darkmagenta">&nbsp;(Username: voicemail@BethesdaHelp.org&nbsp;&nbsp;Password:&nbsp;@ViewData["vmPassword"])</span><br />
    <a href="http://www.bethesdahelp.org/need-help/service-area" target="_blank">Go To Service Area Map</a><br />
</div>
        <br />
    }

    @if (User.IsInAnyRoles("Developer","Driver","Staff","Administrator"))
    {
<div>
    <strong>Driver Menu</strong><br />
    <a href="@Url.Action("Index", "Driver")">Call Log - Driver Section</a><br />
    <a href="@Url.Action("Edit", "DriverSchedule")">View Driver Schedules</a><br />
    <a href="https://sso.godaddy.com/v1/login?app=email&realm=pass" target="_blank">Go To Voicemail Login</a>
    <span style="font-style: italic; color: darkmagenta">&nbsp;(Username: voicemail@BethesdaHelp.org&nbsp;&nbsp;Password:&nbsp;@ViewData["vmPassword"])</span>
    @if (Model.ShowDriverDocumentsMenu)
    {
        <br />
        <a href="@Url.Action("ViewDocumentCategory", "Documents", new{menuCat="Driver"})">Driver Documents</a><br />
    }
</div>
    }
    <br />

    <div>
        @{ var AllowHours = false; }
        @if (User.IsInRole("Driver") || User.IsInRole("Administrator") || User.IsInRole("Developer")
            || User.IsInRole("Staff")) { AllowHours = true; }
        @*@if (!User.IsInRole("Administrator") && (!User.IsInRole("Staff") || User.IsInRole("Trainer")))
        {AllowHours = true;}*@
        @if (!(User.IsInRole("OfficerOfTheDay") && !User.IsInRole("Administrator") && !User.IsInRole("Staff")) || User.IsInRole("Trainer"))
        { AllowHours = true; }
        @if (AllowHours)
        {
            <a href="@Url.Action("Create", "VolunteerHours")">Enter Volunteer Hours</a>
            <br />
        }
        <a href="@Url.Action("UpdateMyProfile", "Home")">Update My Profile</a><br />
        <a href="@Url.Action("ChangeMyPassword", "Home")">Change My Password</a><br />
        @*<a href="http://www.bethesdahelp.org" target="_blank">Go To Bethesda Help Website</a><br />*@
        @if (User.IsInRole("VoicemailAccess"))
        {
            <a href="https://sso.godaddy.com/v1/login?app=email&realm=pass" target="_blank">Go To Voicemail Login</a>
            <span style="font-style: italic; color: darkmagenta">&nbsp;(Username: voicemail@BethesdaHelp.org&nbsp;&nbsp;Password:&nbsp;@ViewData["vmPassword"])</span>
        }
        @if (Model.ShowEveryoneDocumentsMenu)
        {
            for (var i = 0; i < Model.EveryoneDocTitles.Length; i++)
            {
                <span id ="btnView" style = "color: blue" >@Html.Label(Model.EveryoneDocTitles[i]):</span>

                <input type="image" src="~/Images/PDF10.png" alt="Submit" width="16" height="16"
                    onclick="window.open('@Url.Action("ViewDocument", "Documents",
                                                 new { id = Model.EveryoneDocIds[i] })')" />
    <br />
}
}
        <br />
        @Html.AntiForgeryToken()
        <a href="@Url.Action("Logout", "Home")">LogOut</a>
    </div>

</body>
</html>
