@using System.Web.Mvc.Html
@model BHelp.ViewModels.AssistanceViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
    <style>
        #CreateButton {
            background-color: blue;
            color: white
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
         @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.HiddenFor(a => a.ClientId, new { @id = "ClientId" })
            <h4>Create Assistance Payment</h4>
            <hr />
        </div>
        <div id="PaymentHistory">
            <table>
                <tr>
                    <td><b>Client Payment Data</b></td>&nbsp;&nbsp;
                    <td>&nbsp;&nbsp;&nbsp;for client</td>
                    <td>@Html.Label(@Model.FullName)</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Starting Date:</td>
                    <td>
                        @Html.TextBox("Start Date", Model.StartDate, "{0:MM/dd/yyyy}",
                            new { id = "StartDate", style = "width: 75px;text-align:center" })
                        <span style="color: darkmagenta">&#8592;Click to change</span>
                    </td> @*Html left-arrow*@
                    <td>&nbsp;&nbsp;Ending Date:</td>
                    <td>
                        @Html.TextBox("End Date:", Model.EndDate, "{0:MM/dd/yyyy}",
                            new { id = "EndDate", style = "width:75px; text-align:center" })
                        <span style="color: darkmagenta">&#8592;Click to change</span>
                    </td> @*Html left-arrow*@
                </tr>
            </table>
        </div>
        <hr />
        <div id="PaymentEntry" class="form-group">
            <table>
                <tr>
                    <td style="text-align: right">@Html.Label("Date:") </td>
                    <td>
                        @Html.TextBoxFor(model => model.Date, "{0:MM/dd/yyyy}",
                            new { id = "PaymentDate", style = "width: 75px; text-align: center" })
                        <span style="color: darkmagenta"> &#8592;Click to change</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">@Html.Label("Client:")</td>
                    <td>
                        @Html.TextBoxFor(m => m.FullName,
                            new { @readonly = "readonly" })

                        @*@Html.DropDownListFor(model => model.ClientId,
                            new SelectList(Model.ClientSelectList, "Value",
                                "Text"), new { id = "ClientId", @class = "form-control" })*@
                        @*@Html.ValidationMessageFor(model => model.ClientId,*@
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">@Html.Label("Category:")</td>
                    <td>
                        @Html.DropDownListFor(model => model.CategoryId,
                            new SelectList(Model.AssistanceCategoriesSelectList,
                                "Value", "Text"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">@Html.Label("Action:")</td>
                    <td>
                        @Html.TextBoxFor(model => model.Action, new { style = "width:250px;", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">@Html.Label("Amount:")</td>
                    <td>
                        @Html.TextBoxFor(model => model.AmountDecimal, new { style = "width:50px;", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AmountDecimal, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">@Html.Label("Notes:")</td>
                    <td>
                        @Html.TextAreaFor(model => model.Note, new { style = "width: 250px;", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <br />
            <input type="submit" value="Create" class="btn btn-default" id="CreateButton" />
        </div>
    }
    <div>
        <br />
        @Html.ActionLink("Back to Search List", "SearchClient")
        <br />
        @Html.ActionLink("Return to Assistance Menu", "AssistancePaymentsMenu")
    </div>
    <div>
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </div>

</body>
</html>

@*<script>
    $(document).ready(function () {
        ".datepicker".datepicker({
            dateFormat: "dd-mm-yy",
            changemonth: true,
            changeyear: true
        });
    });
</script>*@
<script>
    $(function () {
        window.$("#PaymentDate").datepicker();
    });
</script>
<script>
    $(function () {
        window.$("#StartDate").datepicker();
    });
</script>
<script>
    $(function () {
        window.$("#EndDate").datepicker();
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        window.$("#StartDate").change(function() {
            var stDate = window.$(this).val();
            var endDt = window.$('#EndDate').val();
            window.location.href =
                '@Url.Action("Create", "AssistancePayments")' + '?startDate=' + stDate + '&endDate=' + endDt;
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        window.$("#EndDate").change(function () {
            var stDate = window.$('#StartDate').val();
            window.$('#StartDate').val(stDate);
            var endDt = window.$('#EndDate').val();
            window.location.href =
                '@Url.Action("Create", "AssistancePayments")' + '?startDate=' + stDate + '&endDate=' + endDt;
        });
    });
</script>
@*<script type="text/javascript">
    $(document).ready(function() {
        window.$("#ClientId").change(function() {
            var stDate = window.$('#StartDate').val();
            var endDt = window.$('#EndDate').val();
            var cliId = window.$("ClientId").val();
            window.location.href =
                '@Url.Action("Create", "AssistancePayments")' + '?clientId=' + cliId;
            /* + '&startDate=' + stDate + '&endDate=' + endDt;*/
        });
    });
</script>*@
