@model BHelp.ViewModels.AssistanceViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>

<body>
    <p>
        <b>Assistance Payments</b>
    </p>
<p>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</p>

    <div>
        <table>
            <tr>
                <td style="alignment: center"><b>Date</b></td>
                <td style="alignment: center"><b>Client</b></td>
                <td style="alignment: center; width: 110px"><b>Category</b></td>
                <td style="alignment: center"><b>Action</b></td>
                <td style="alignment: center"><b>Payee</b></td>
                <td style="alignment: center"><b>Amount</b></td>
                <td style="alignment: center"><b>&nbsp;&nbsp;Notes</b></td>
            </tr>
            @foreach (var payment in Model.PaymentList)
            {
        <tr>
            <td>@payment.DateString</td>
            <td>@payment.FullName</td>
            <td>@payment.ActionCategory</td>
            <td>@payment.Action</td>
            <td>@payment.Payee</td>
            <td style="text-align: right">@payment.StringDollarAmount</td>
            <td title=@payment.NoteToolTip>&nbsp;&nbsp;@payment.Note</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = payment.Id })</td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = payment.Id },
                                   new { style = "color: red" })
        </td>
        </tr>
            }
        </table>
    </div>
    <br />

    <div>
        <br />
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </div>
</body>
</html>
