@model BHelp.ViewModels.AssistanceViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    <p>
        <b>Assistance Payments</b>
    </p>
    <p>
        @Html.ActionLink("Create New Payment", "Create")&nbsp;&nbsp;
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </p>
    @*<div>
            <table>
                <tr>
                    <td><b>Search for Existing Client:</b></td>
                    <td>
                        @Html.TextBox("SearchText", "", new
                        {
                            id = "SearchText",
                            style = "width: 50px;",
                            onkeypress = "KeyPressHandler()",
                            Title = "Tip: Enter full or partial Phone# OR Last Name OR Street Number",
                            autofocus = true
                        })
                    </td>
                    <td>
                        <a href="#" id="SearchString"><span>Search</span></a>
                        <span style="color: darkmagenta">&#8592; (Enter full or partial Phone# OR Last Name OR Street Number)</span>
                    </td>
                </tr>
            </table>
        </div>*@

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                Amount
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.PaymentList)
        {
            <tr>
                <td>
                    @item.Date.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(modelItem => item.StringDollarAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div>
        <br />
        @Html.ActionLink("Create New Payment", "Create")
        <br />
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </div>
</body>
</html>

<script type="text/javascript">
    $("#SearchString").click(function () {
        var text = window.$("#SearchText").val();
        SearchClients(text);
    });
</script> @*SearchClients*@

