@using System.Web.Mvc.Html
@using BHelp.ViewModels

@model ReportsViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuorkReport</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @*Put page javascript in a separate .js file where breaks can be set during debugging:*@
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
    <style>
        #EndDate {width: 60px;}
    </style>
</head>
<body>
<table>
    <tr><td><b>Quork Report</b></td></tr>
    <tr>
        <td style="text-align: right">End Date:</td>&nbsp;&nbsp;
        <td>@Model.EndDateString</td>
    </tr>
</table>

<table>
    <tr><td>Bethesda Help, Inc. Quork Report</td></tr>
    <tr>
        <td style="text-align: center">Time Period</td>
    </tr>
    <tr>
        <td style="text-align: center">@Html.Label(Model.DateRangeTitle)</td>
        <td>@Html.ActionLink(" Previous Saturday", "SaturdayPrevious", new {saturday = Model.EndDate})</td>
        <td>@Html.ActionLink(" Next Saturday", "SaturdayNext", new { saturday = Model.EndDate })</td>
    </tr>
</table>
<table>
    <tr>
        <td style="text-align: left">Zip Code</td>
        @foreach (var zip in Model.ZipCodes)
        {
            <td style="text-align: right">@zip</td>}
        <td style="text-align: center">All Zip Codes</td>
    </tr>
    <tr>
        <td style="text-align: left">Total Food Lbs</td>
        @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
        {
            <td style="text-align: right">@Model.Counts[0, i, 0]</td>}
    </tr>
    <tr>
        <td style="text-align: left"># HH Served (No Repeat</td>
    </tr>
    <tr>
        <td style="text-align: left">Clients in Time Period)</td>
        @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
        {
            <td style="text-align: right">@Model.Counts[0, i, 1]</td>}
    </tr>
    <tr>
        <td style="text-align: left"># Residents Served</td>
        @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
        {
            <td style="text-align: right">@Model.Counts[0, i, 2]</td>}
    </tr>
    <tr>
        <td style="text-align: left"># Residents &#60;18</td>
        @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
        {<td style="text-align: right">@Model.Counts[0, i, 3]</td>}
    </tr>
    <tr>
        <td style="text-align: left"># Residents &#62;60</td>
        @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
        {<td style="text-align: right">@Model.Counts[0, i, 4]</td>}
    </tr>
    <tr>
        <td style="text-align: left"># Staff Worked</td>
        @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
        {<td style="text-align: right"> </td>}
    </tr>
    <tr>
        <td style="text-align: left"># Staff Hours</td>
        @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
        {<td style="text-align: right"> </td>}
    </tr>
    <tr>
        <td style="text-align: left"># Deliveries</td>
        @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
        {
            <td style="text-align: right">@Model.Counts[0, i, 7]</td>}
    </tr>
</table>
<br />
<div>
    @Html.ActionLink("Download to Excel File", "QuorkReportToExcel", new { endingDate = Model.EndDateString }, null)
    <br />
    @Html.ActionLink("Return to Reports Menu", "ReturnToReportsMenu", new { })
    <br />
    @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })
</div>
</body>
</html>
