@model BHelp.Models.Document
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Document&nbsp;@Model.Title</h4>
        <hr />
        <table>
            <tr><td>Title:&nbsp;</td><td>@Model.Title</td> </tr>
            <tr><td>Menu Category:&nbsp;</td><td>@Model.MenuCategory</td> </tr>
            <tr><td>File Name:&nbsp;</td><td>@Model.FileName</td> </tr>
            <tr><td>Menu Category:&nbsp;</td><td>@Model.MenuCategory</td> </tr>
        </table>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div>
                <input type="submit" value="Delete" class="btn btn-default" />
                <br/>
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
