@model IEnumerable<BHelp.Models.Document>
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #btnView {background-color: white;color: blue;border: none;text-decoration: underline;
            padding: 0;font-size: 14px}
    </style>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
<p>
    @Html.ActionLink("Upload New Document", "Upload")&nbsp;&nbsp;
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.MenuCategory)</th>
        <th>@Html.DisplayNameFor(model => model.FileName)</th>
    </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Title)</td>
        <td style="text-align:center" >@Html.DisplayFor(modelItem => item.MenuCategory)</td>
        <td>@Html.DisplayFor(modelItem => item.FileName)</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) | </td>
        <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |</td>
        <td><input id="btnView" type="button" value="View" onclick="window.open('@Url.Action("ViewDocument", "Documents", new {id = item.Id})')" />
        </td>
    </tr>
    }
</table>
<br />

<div>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>
