@model BHelp.Models.Document
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload</title>
    <style>
        #btnUpload {
            background-color: green;
            color: white
        }
    </style>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    @using (Html.BeginForm("Upload", "Documents",
        FormMethod.Post, new { enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Upload Document</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor( m => m.Title,  new { @class = "form-control", style="width: 400px" })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    @if (Model.TitleErrorMessage !=null)
                    {<span style="color: red; font-weight: bold">@Model.TitleErrorMessage</span>}
                    else
                    {
                        if (Model.Title == null)
                        {
                            <span style="color: darkmagenta"> &nbsp;(*Required)</span>
                        }
                    }
                </div>
            </div>
    
            <div class="form-group">
                @Html.Label("Menu CategoryId")
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.MenuCategory,
                        new SelectList(Model.Categories, "Value", "Text"),
                        new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MenuCategory, "", new { @class = "text-danger" })
                    <span style="color: darkmagenta"> &nbsp;(Who gets permission to see this document)</span>
                </div>
            </div>
    
            <div class="form-group">
                @Html.Label("Select File")
                <span style="color: red; font-weight: bold">@Model.FileErrorMessage</span>
                <div class="col-md-10">
                    <input type="file" name="postedFile" />
                    </div>
            </div>

            <br/>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" id="btnUpload"/>
            </div>
        </div>
    }
    <br/>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>
