@using System.Web.Mvc.Html
@model BHelp.ViewModels.ODScheduleViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <style>
        #schedule {border-collapse: collapse;border: thin solid black}
        .top {width: 185px;border-right: thin solid black;}
        .edit {width: 160px;}
        #SaveButton {background-color: blue;color: white}
    </style>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    @using (Html.BeginForm("Edit", "ODSchedule", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CurrentUserId)
        @Html.HiddenFor(m => m.AllowEdit)
        @Html.HiddenFor(m => m.IsScheduler)

        /*========== Regular Non-Scheduler users Edit Section ==================*/
        if (Model.AllowEdit && !Model.IsScheduler)  /* NOT Scheduler */
        {
            <div id="UserEditSection">
                <table>
                    <tr id="HeaderRow">
                        <td><b>BHelp OD Schedule</b></td>
                        <td style="text-align: center">Date:</td>
                        <td style="text-align: center">OD:</td>
                        <td style="text-align: center">Notes:</td>
                    </tr>

                    <tr id="EditRow">
                        <td style="text-align: right" class="edit">Enter/Edit data here:</td>

                        <td class="edit" style="text-align: center; width: 75px">
                            @Html.TextBoxFor(model => model.Date, Model.Date.ToString("MM/dd/yyyy"),
                                new { id = "BoxDate", style = "width: 75px; background-color: yellow; text-align:center" })
                        </td>

                        @*=============== Another user has it locked ===============*@
                        @if (Model.OldODId != null && Model.OldODId != Model.CurrentUserId)
                        {
                            <td>
                                @Html.TextBoxFor(m => m.ODName,
                                    new { style = "background: lightgray", @readonly = "readonly" })
                            </td>
                            @*<td style="text-align: center">
                                @Html.CheckBoxFor(m => m.ODConfirmed, new { @disabled = "disabled" })
                            </td>*@
                            <td>
                                @Html.TextAreaFor(t => t.Note,
                                    new { style = "background: lightgray", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Note,
                                    "", new { @class = "text-danger" })
                            </td>
                            /* no save button */
                        }
                        else if (!Model.IsScheduler && Model.Date < DateTime.Today)
                        {
                            <td>
                                @Html.TextBoxFor(m => m.ODName,
                                    new { style = "background: lightgray", @readonly = "readonly" })
                            </td>
                            @*<td style="text-align: center">
                            @Html.CheckBoxFor(m => m.ODConfirmed, new { @disabled = "disabled" })
                            </td>*@
                            <td>
                                @Html.TextAreaFor(t => t.Note,
                                    new { style = "background: lightgray", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Note,
                                    "", new { @class = "text-danger" })
                            </td>
                            /* no save button */
                        }
                        else /*========= User may change =============*/
                        {
                            <td>
                                @Html.DropDownListFor(m => m.ODId,
                                    new SelectList(Model.ODList, "Value", "Text", Model.ODId),
                                    new { id = "ODddl" })
                                @Html.ValidationMessageFor(m => m.ODId, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.TextAreaFor(t => t.Note)
                                @Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                &nbsp;&nbsp;
                                <input type="submit" value="Save" class="btn btn-default" id="SaveButton" />
                            </td>
                        }
                    </tr>
                </table>
                <hr />
            </div>
        }  /*end of AllowEdit && NOT Scheduler */

        /*================= Admin / Scheduler Edit Section =======================*/
        if (Model.IsScheduler)
        {
            <div id="EditSection">
                <table>
                    <tr id="HeaderRow">
                        <td><b>BHelp OD Schedule</b></td>
                        <td style="text-align: center">Date:</td>
                        <td style="text-align: center">OD:</td>
                        <td style="text-align: center">Notes:</td>
                    </tr>

                    <tr id="EditRow">
                        <td style="text-align: right" class="edit">Enter/Edit data here:</td>
                        <td class="edit" style="text-align: center; width: 75px">
                            @Html.TextBoxFor(model => model.Date, Model.Date.ToString("MM/dd/yyyy"),
                                new { id = "BoxDate", style = "width: 75px; background-color: yellow; text-align:center" })
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.ODId,
                                new SelectList(Model.ODList, "Value", "Text", Model.ODId),
                                new { id = "ODddl2" })
                            @Html.ValidationMessageFor(m => m.ODId, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.TextAreaFor(t => t.Note)
                            @Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            &nbsp;&nbsp;
                            <input type="submit" value="Save" class="btn btn-default" id="SaveButton" />
                        </td>
                    </tr>
                </table>
                <hr />
            </div>
        } /*========= End of Admin / Scheduler Edit Section ========*/

        /*======================== Calendar Section ========================*/
        <div>
            <table>
                <tr>
                    <td>
                        <b>Bethesda Help Officer of the Day Schedule - </b><span style="color: red">
                            <b>@Model.MonthName&nbsp;@Model.Year</b>
                        </span>
                    </td>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.ActionLink(" Previous Month", "PreviousMonth",
                            new { @Model.Month, @Model.Year })
                    </td>
                    <td>
                        &nbsp;&nbsp;@Html.ActionLink(" Next Month", "NextMonth",
                                        new { @Model.Month, @Model.Year })
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Return to Dashboard", "Index", "Home")</td>
                </tr>
            </table>
        </div>

        <div>
            <table Id="schedule">
                <tr>
                    <th class="top">MONDAY</th>
                    <th class="top">TUESDAY</th>
                    <th class="top">WEDNESDAY</th>
                    <th class="top">THURSDAY</th>
                    <th class="top">FRIDAY</th>
                </tr>

                @{var i = 0;}
                @for (var row = 1; row < 6; row++)
                {
                    <tr>
                        @for (var col = 1; col < 6; col++)
                        {
                            i++;
                            var bgcolor = "white";
                            if (Model.ODsSchedule[i].Date == Model.Date)
                            {
                                bgcolor = "yellow";
                            }
                        <td style="border: thin solid black; vertical-align: top; background-color: @bgcolor">
                            @if (Model.ODsSchedule[i].Date > DateTime.MinValue)
                            {
                                <b>@Html.Label(Model.ODsSchedule[i].DayString)</b>
                                if (Model.AllowEdit)
                                {
                                    if (Model.IsScheduler || Model.ODsSchedule[i].Date >= DateTime.Today)
                                    {
                                        <span style="font-size: x-small">
                                            @Html.ActionLink("Edit", "Edit",
                                                new { boxDate = Model.ODsSchedule[i].Date })
                                        </span>
                                    }
                                }
                            }

                            @if (Model.BoxODName[i] != null)
                            {
                                <br />
                                @Html.Label(Model.BoxODName[i])
                            }

                            @if (Model.BoxODPhone[i] != null)
                            {
                                <br />
                                @Html.Label(Model.BoxODPhone[i])
                            }

                            @if (Model.BoxODPhone2[i] != null)
                            {
                                <br />
                                @Html.Label(Model.BoxODPhone2[i])
                            }

                            @if (Model.BoxODEmail[i] != null)
                            {
                                var subject = "BHELP Food Program";
                                var body = @Model.ODsSchedule[i].Date.ToLongDateString()
                                           + " OD: " + @Model.BoxODName[i];
                                <a href="mailto:@Uri.EscapeDataString(Model.BoxODEmail[i])
                                   ?Subject=@Uri.EscapeDataString(subject)
                                   &body=@Uri.EscapeDataString(body)">
                                @Model.BoxODEmail[i] </a>
                            }

                            @if (Model.BoxNote[i] != null)
                            {
                                <br />
                                <span>&nbsp; &nbsp;</span>
                                <span style="font-size: x-small; color: blue">
                                    @Html.Label("Notes")
                                </span>
                                <br />
                                @Model.BoxNote[i]
                            }

                        </td>
                        }
                    </tr>
                }
            </table>
        </div>
    }

    <br />
    <div>
        @Html.ActionLink("Download to Excel File", "ODScheduleToExcel", "ODSchedule")
        <br />
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </div>
</body>
</html>

<script type="text/javascript">
    $(function () {
        window.$("#BoxDate").datepicker({
            beforeShowDay: window.$.datepicker.noWeekends
        });
    });
</script>
<script type="text/javascript">
    window.$(function () {
        window.$('#BoxDate').change(function () {
            var _boxDate = window.$(this).val();
            var link = '@Url.Action("Edit", "ODSchedule",
                            new { boxDate = "-1" })';
            link = link.replace("-1", _boxDate);
            window.location.href = link;
        });
    });
</script>
<script>
    window.$(function () {
        window.$('#ODddl').change(function () {
            var _odId = window.$(this).val();
            var link = '@Url.Action("Edit", "ODSchedule", 
                            new { odId = "-1" })';
            link = link.replace("-1", _odId);
            window.location.href = link;
        });
    });
</script>
<script>
    window.$(function () {
        window.$('#ODddl2').change(function () {
            var _odId = window.$(this).val();
            var link = '@Url.Action("Edit", "ODSchedule",
                            new { odId = "-1" })';
            link = link.replace("-1", _odId);
            window.location.href = link;
        });
    });
</script>
