@using System.Web.Mvc.Html
@using BHelp.ViewModels
@model DeliveryViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CallLogIndividual</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @*Put page javascript in a separate .js file where breaks can be set during debugging:*@
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
</head>
<body>
<div>
    <b>Call Log History by Individual Client</b>
    <br />
    <table>
        <tr>
            <td>Select Client:</td>
            <td>
                @Html.DropDownListFor(model => model.ClientId,
                     new SelectList(Model.ClientSelectList, "Value", "Text"),
                     "--Select--",new { @id="clientList", @class = "form-control" })
            </td>
        </tr>
    </table>
</div>
<br/>
<div id="callLogsDiv">
    @if (Model.DeliveryList != null)
    {
        <table>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Log Date</td>
                <td>Name</td>
                <td>Address</td>
                <td style="text-align: center">Driver</td>
                <td>Date Delivered</td>
                <td style="text-align: center">Status</td>
            </tr>
            @foreach (var delivery in Model.DeliveryList)
            {
                <tr>
                    <td>@delivery.LogDateString</td>
                    @{ string name = delivery.LastName + ", " + delivery.FirstName; }
                    @{ string addr = delivery.StreetNumber + " " + delivery.StreetName; }
                    <td>@name</td>
                    <td>@addr</td>
                    <td>@delivery.DriverName</td>
                    <td style="text-align: center">@delivery.DateDeliveredString</td>
                    <td style="text-align: center" >@delivery.SelectedStatus</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = delivery.Id })
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Back to Delivery List", "CallLogIndividual", new { })
    }
</div>
    <br />
<div>
    @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })
</div>
<script type="text/javascript">
    $("#clientList").change(EditCallLog);
</script>
</body>
</html>
