@using System.Web.Mvc.Html
@using BHelp.ViewModels
@model DeliveryViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CallLogIndividual</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @*Put page javascript in a separate .js file where breaks can be set during debugging:*@
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
</head>
<body>
<div>
    <b>Call Log History by Individual Client</b>
    <br />
    <div>
        <table>
        @if (Model.ClientId > 0)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Download to CSV File (Helper data only)", "CallLogByIndividualToCSV", new { allData = false })&nbsp;&nbsp;
                        &nbsp; &nbsp;@Html.ActionLink("Download to CSV File (ALL data)", "CallLogByIndividualToCSV", new { allData = true })
                    </td>
                </tr>
             }
                <tr>
                    <td>
                        &nbsp;&nbsp;@Html.ActionLink("Return to Dashboard", "ReturnToDashboard")
                    </td>
                </tr>
          </table>
     </div>
    <table>
        <tr>
            <td>Select Client:</td>
            <td>
                @Html.DropDownListFor(model => model.ClientId,
                    new SelectList(Model.ClientSelectList, "Value", "Text"),
                    "--Select--",new { @id="clientList", @class = "form-control" })
            </td>
        </tr>
    </table>
</div>
<br/>
<div id="callLogsDiv">
    @if (Model.DeliveryList != null)
    {
        <table>
            <tr>
                <td></td>
                <td>Log Date</td>
                <td>Name</td>
                <td>Address</td>
                <td style="text-align: center">Driver</td>
                <td>DelivDate</td>
                <td style="text-align: center">Status</td>
                <td style="text-align: center">#HH</td>
                <td style="text-align: center">#C</td>
                <td style="text-align: center">#A</td>
                <td style="text-align: center">#S</td>
                <td style="text-align: center">#F</td>
                <td style="text-align: center">#H</td>
                <td style="text-align: center">#KS</td>
                <td style="text-align: center">#GC</td>
                <td style="text-align: center">Lbs.</td>
            </tr>
            @foreach (var delivery in Model.DeliveryList)
            {
                <tr>
                    @if (Model.OkToEdit)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = delivery.Id })
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@delivery.LogDateString</td>
                    @{ string name = delivery.LastName + ", " + delivery.FirstName; }
                    @{ string addr = delivery.StreetNumber + " " + delivery.StreetName; }
                    <td>@name</td>
                    <td>@addr</td>
                    <td>@delivery.DriverName</td>
                    <td style="text-align: center">@delivery.DateDeliveredString</td>
                    <td style="text-align: center">@delivery.SelectedStatus</td>
                    <td style="text-align: center">@delivery.HouseoldCount</td>
                    <td style="text-align: center">@delivery.Children</td>
                    <td style="text-align: center">@delivery.Adults</td>
                    <td style="text-align: center">@delivery.Seniors</td>
                    <td style="text-align: center">@delivery.FullBags</td>
                    <td style="text-align: center">@delivery.HalfBags</td>
                    <td style="text-align: center">@delivery.KidSnacks</td>
                    <td style="text-align: center">@delivery.GiftCards</td>
                    <td style="text-align: center">@delivery.PoundsOfFood</td>
                    @if (Model.OkToEdit)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = delivery.Id })
                        </td>
                    }
                </tr>
            }
        </table>
        if (Model.DeliveryList.Count > 0)
        {
            @Html.ActionLink("Back to Select List", "CallLogIndividual", new { })
            <br />
            @Html.ActionLink("Download to CSV File (Helper data only", "CallLogByIndividualToCSV", new { })
            <br />
            @Html.ActionLink("Download to CSV File (ALL data)", "CallLogByIndividualToCSV", new { allData = true })
            <br/>
        }
    }
</div>
<div>
    @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })
</div>
<script type="text/javascript">
    $("#clientList").change(EditCallLog);
</script>
</body>
</html>
