@model BHelp.ViewModels.DeliveryViewModel
@{ Layout = null; }
<!DOCTYPE html>

<style>
    #ChangeButton {background-color: red;color: white}
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Delivery Client?</title>
</head>
<body>
    <div>
        <span><b>Delivery Client Change</b></span>
        <br />
        <input type="hidden" name="Parameters" value="@Model.Parameters" />
        <input type="hidden" name="HistoryStartDate" value="@Model.HistoryStartDate" />
        <input type="hidden" name="HistoryEndDate" value="@Model.HistoryEndDate" />
        <br />
        <span style="color: red;font-weight :bold">
            CAUTION: THIS OPTION CAN MESS UP DATA. USE ONLY FOR EXACT DUPLICATE CLIENTS!
        </span>
        <br />
        <br />
    </div>
<div>
    <table>
        <tr>
            <td>
                Change Delivery Client From:
            </td>
            <td>@Model.OldClient.LastFirstName</td>
            <td>@Model.OldClient.StreetNumber</td>
            <td>&nbsp;@Model.OldClient.StreetName</td>
            <td>&nbsp;@Model.OldClient.City</td>
            <td>&nbsp;@Model.OldClient.Zip</td>
        </tr>
        <tr >
            <td style ="text-align :right">To:</td>
            <td>@Model.NewClient.LastFirstName</td>
            <td>@Model.NewClient.StreetNumber</td>
            <td>&nbsp;@Model.NewClient.StreetName</td>
            <td>&nbsp;@Model.NewClient.City</td>
            <td>&nbsp;@Model.NewClient.Zip</td>
        </tr>
    </table>
</div>
<br />
@Html.ActionLink("Change", "ChangeDeliveryClientConfirmed", new { parameters  = Model.Parameters }, new { id = "ChangeButton" })

<div >

</div>
<br />
@if (Model.ReturnURL.Contains("CallLogByLogDate"))
{
    @Html.ActionLink("Back to Delivery List", "CallLogByLogDate", new { startDate = Model.HistoryStartDate, endDate = Model.HistoryEndDate })
}

@if (Model.ReturnURL.Contains("CallLogIndividual"))
{
    @Html.ActionLink("Back to Delivery List", "CallLogIndividual", new { clientId = Model.ClientId })
}

@if (Model.ReturnURL.Contains("CallLogByDateDelivered"))
{
    @Html.ActionLink("Back to Delivery List", "CallLogByDateDelivered", new { startDate = Model.HistoryStartDate, endDate = Model.HistoryEndDate })
}
<div>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>
