@using System.Web.Mvc.Html
@using BHelp.ViewModels

@model ReportsViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CountyReport</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @*Put page javascript in a separate .js file where breaks can be set during debugging:*@
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
    <style>
        #Year {
            width: 50px;
        }

        #Quarter {
            width: 25px;
        }
    </style>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    <table>
        <tr><td><b>County Report</b></td></tr>
        <tr>
            <td style="text-align: right">Select Year:</td>
            <td>@Html.EditorFor(m => m.Year, new { htmlAttributes = new { @min = "2020", @max = "2050" }, id = "Year" })</td>&nbsp;&nbsp;
            <td style="text-align: right">Select Quarter:</td>
            <td>@Html.EditorFor(m => m.Quarter, new { htmlAttributes = new { @min = "1", @max = "4" }, id = "Quarter" })</td>
        </tr>
    </table>
<br />
<div id ="ReportBody">
    <table>
        <tr><td><b>Bethesda Help, Inc.</b></td></tr>
        <tr><td><b>@Html.Label(Model.DateRangeTitle)</b></td></tr>
        <tr></tr>
    </table>
    @for (int mo = 0; mo < 3; mo++)
    {
        <table>
            <tr>
                <td style="color: red; text-align: center;">@Html.Label(Model.MonthYear[mo])</td>
                @for (int i = 0; i < Model.ZipCodes.Count; i++)
                {
                    <td></td>}
                <td style="color: red; text-align: center;">@Html.Label("TOTAL")</td>
            </tr>
            <tr>
                <td style="text-align: left">Zip Code</td>
                @foreach (var zip in Model.ZipCodes)
                {
                    <td style="text-align: right">@zip</td>}
                <td style="text-align: center">All Zip Codes</td>
            </tr>

            <tr>
                <td style="text-align: right"># of Families</td>
                @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
                {
                    <td style="text-align: right">@Model.Counts[Model.Months[mo], i, 0]</td>}
            </tr>
            <tr>
                <td style="text-align: right"># of Children (&#60;18)</td>
                @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
                {
                    <td style="text-align: right">@Model.Counts[Model.Months[mo], i, 1]</td>}
            </tr>
            <tr>
                <td style="text-align: right"># of Adults(&#62;=18 and &#60;60)</td>
                @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
                {
                    <td style="text-align: right">@Model.Counts[Model.Months[mo], i, 2]</td>}
            </tr>
            <tr>
                <td style="text-align: right"># of Seniors (&#62;=60)</td>
                @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
                {
                    <td style="text-align: right">@Model.Counts[Model.Months[mo], i, 3]</td>}
            </tr>
            <tr>
                <td style="text-align: right"># of Residents</td>
                @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
                {
                    <td style="text-align: right">@Model.Counts[Model.Months[mo], i, 4]</td>}
            </tr>
            <tr>
                <td style="text-align: right"># of Pounds of Food</td>
                @for (int i = 0; i < Model.ZipCodes.Count + 1; i++)
                {
                    <td style="text-align: right">@Model.Counts[Model.Months[mo], i, 5]</td>}
            </tr>
            <tr></tr>
        </table>
    }
</div>
    <br />
<div>
    @Html.ActionLink("Download to ExcelFile", "CountyReportToExcel", new { yy = Model.Year, qtr = Model.Quarter }, null)
    <br />
    @Html.ActionLink("Download to CSV File", "CountyReportToCSV", new { yy = Model.Year, qtr = Model.Quarter }, null)
    <br/>
    @Html.ActionLink("Return to Reports Menu", "ReturnToReportsMenu", new { })
    <br/>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>
<script type="text/javascript">
    $("#Year").change(function () {
        CountyReport();
    });
</script> @*Year Change*@
<script type="text/javascript">
    $("#Quarter").change(function () {
        CountyReport();
    });
</script> @*Quarter Change*@