@using Castle.Core.Internal
@model BHelp.Models.Delivery
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
<h3>Are you sure you want to delete this?</h3>
<div>
    @Html.HiddenFor(m => m.ReturnURL)
    <h4>Delivery</h4>
    <hr/>
    <table>
        <tr>
            <td>@Html.Label("Last Name: ")</td>
            <td> @Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td>@Html.Label("Address: ")</td>
            <td> @Html.DisplayFor(model => model.StreetNumber)</td>
            <td>@Html.DisplayFor(model => model.StreetName)</td>
        </tr>
        <tr>
            <td>@Html.Label("Log Date: ")</td>
            <td> @Html.DisplayFor(model => model.LogDate)</td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <br/>
            <input type="submit" value="Delete" class="btn btn-default" style="color: red"/>
            <br/>
            <br/>
            @if (Model.ReturnURL.Contains("CallLogByLogDate"))
            {
                @Html.ActionLink("Back to Delivery List", "CallLogByLogDate")
            }
            
            @if (Model.ReturnURL.Contains("CallLogByDateDelivered"))
            {
                @Html.ActionLink("Back to Delivery List", "CallLogByDateDelivered")
            }

            @if (Model.ReturnURL.Contains("CallLogIndividual"))
            {
                @Html.ActionLink("Back to Delivery List", "CallLogIndividual", new { clientId = Model.ClientId })
            }
                
            @if (Model.ReturnURL.Contains("UpdateHousehold"))
            {
                @Html.ActionLink("Back to OD Section", "Index", "OD")
            }
            
            @if (Model.ReturnURL.Contains("Index") || Model.ReturnURL.IsNullOrEmpty())
            {
                @Html.ActionLink("Back to List", "Index")
            }
        </div>
    }
</div>
</body>
</html>
