@model BHelp.ViewModels.DeliveryViewModel
@{ Layout = null; }
<!DOCTYPE html>

<style>
    #SaveButton {background-color: blue;color: white}
    #DeleteButton {background-color: red;color: white}
    #AddButton {background-color: green;color: white}
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <span><h3>Edit Delivery</h3></span>
        <span style="color: darkmagenta"> (Snapshot of client when the delivery was created:)</span><br />
        <span><b>Client:</b>&nbsp;@Html.Label(Model.ClientNameAddress)&nbsp;@Html.Label(Model.Client.Phone) </span>
        <br />
        <span>
            <b>Family:</b>&nbsp;
            @if (Model.FamilySelectList != null)
            {@Html.DropDownListFor(modelItem => Model.Notes, Model.FamilySelectList)
        }
        </span>
        <span><b>Children:&nbsp;</b>@Html.Label(Model.KidsCount.ToString())</span>&nbsp;
        <span><b>Adults:&nbsp;</b>@Html.Label(Model.AdultsCount.ToString())</span>&nbsp;
        <span><b>Seniors:&nbsp;</b>@Html.Label(Model.SeniorsCount.ToString())</span>&nbsp;
        <br />
        <span>
            <b>Last Delivery:</b>
            @if (Model.DateLastDelivery != null)
            {@Html.Label(Model.DateLastDelivery.Value.ToShortDateString())}
        </span>
        <span><b>Gift Cards This Month:</b>@Html.Label(Model.GiftCardsThisMonth.ToString())</span>
        <span><b>Gift Cards Eligible:</b>&nbsp;@Html.Label(Model.GiftCardsEligible.ToString())</span>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
    </div>
        <div class="form-group">
            <table>
                <tr>
                    <td>Log Date&nbsp;</td>
                    <td>@Html.TextBoxFor(model => model.LogDate, Model.LogDate.ToString("MM/dd/yyyy"),
                            new {id = "LogDate", style = "width: 75px;"})</td>
                    <td style="color: darkmagenta">&#8592;Click to change</td>
                    <td>&nbsp;Driver:</td>
                    @if (Model.DriversList != null)
                    {
                        <td>
                            @Html.DropDownListFor(model => model.DriverId, new SelectList(Model.DriversList, "Value", "Text"),new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.DriverId, "", new {@class = "text-danger"})
                        </td>
                    }
                </tr>
            </table>

            <table>
                <tr><td>OD Notes</td><td>Driver Notes</td></tr>
                <tr>
                    <td>@Html.EditorFor(model => model.ODNotes, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ODNotes, "", new {@class = "text-danger"})</td>
                    <td>@Html.EditorFor(model => model.DriverNotes, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.DriverNotes, "", new {@class = "text-danger"})</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>@Html.LabelFor(model => model.FullBags, htmlAttributes: new {@class = "control-label col-md-2"})</td>
                    <td>@Html.EditorFor(model => model.FullBags, new {htmlAttributes = new {style = "width:35px", min = 0, max = 20}})
                        @Html.ValidationMessageFor(model => model.FullBags, "", new {@class = "text-danger"})</td>
                    <td>@Html.LabelFor(model => model.HalfBags, htmlAttributes: new {@class = "control-label col-md-2"})</td>
                    <td>@Html.EditorFor(model => model.HalfBags, new {htmlAttributes = new {style = "width:35px", min = 0, max = 20}})
                        @Html.ValidationMessageFor(model => model.HalfBags, "", new {@class = "text-danger"})</td>
                    <td>@Html.LabelFor(model => model.KidSnacks, htmlAttributes: new {@class = "control-label col-md-2"})</td>
                    <td>@Html.EditorFor(model => model.KidSnacks, new {htmlAttributes = new {style = "width:35px", min = 0, max = 20}})
                        @Html.ValidationMessageFor(model => model.KidSnacks, "", new {@class = "text-danger"})</td>
                    <td>@Html.LabelFor(model => model.GiftCards, htmlAttributes: new {@class = "control-label col-md-2"})</td>
                    <td> @Html.EditorFor(model => model.GiftCards, new {htmlAttributes = new {style = "width:35px", min = 0, max = 20}})
                        @Html.ValidationMessageFor(model => model.GiftCards, "", new {@class = "text-danger"})</td>
                </tr>
            </table>
            <div class="form-group">
                @Html.Label("Date Delivered")
                @*@Html.TextBoxFor(model => model.DateDelivered, Model.DateDelivered.ToString(),
                    new {id = "DateDelivered", style = "width: 75px;"})*@
                @Html.TextBoxFor(model => model.DateDelivered, "{0:MM/dd/yyyy}",
                    new {id = "DateDelivered", style = "width: 75px;"})
                <span style="color: darkmagenta">&#8592;Enter valid date (mm/dd/yyyy)</span> @*Html left-arrow*@
            </div>
            <br/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" id="SaveButton"/>
                    @Html.ActionLink("Delete", "Delete", new {id = Model.Id}, new{id="DeleteButton"})
                </div>
            </div>
        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Back to Delivery List", "Index")
    </div>
    <div>
        @Html.ActionLink("Return to Dashboard", "ReturnToDashboard")
    </div>
</body>
</html>
<script>
    $(function () {
        window.$("#LogDate").datepicker();
    });
</script> @*LogDate datepicker*@
<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
            dateFormat: "dd-mm-yy",
            changemonth: true,
            changeyear: true
        });
    });
</script>
