@using System.Web.Mvc.Html
@using BHelp.ViewModels

@model ReportsViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelperReport</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
    <style>
        #Year {
            width: 50px;
        }

        #Month {
            width: 30px;
        }
    </style>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    <table>
        <tr><td><b>Bethesda Helper Data</b></td></tr>
        <tr>
            <td style="text-align: right">Select Year:</td>
            <td>@Html.EditorFor(m => m.Year, new { htmlAttributes = new { @min = "2020", @max = "2050" }, id = "Year" })</td>&nbsp;&nbsp;
            <td style="text-align: right">&nbsp;Select Month:</td>
            <td>@Html.EditorFor(m => m.Month, new { htmlAttributes = new { @min = "1", @max = "12" }, id = "Month" })</td>
        </tr>
    </table>
    <div id="ReportBody">
        <table>
            <tr><td style="width: 250px">Bethesda Help, Inc.</td></tr>
            <tr><td>@Html.Label(Model.DateRangeTitle)</td></tr>
            <tr>
                <td style="text-align: right">Time Period</td>
                @foreach (var zip in Model.ZipCodes)
                {
                    <td style="text-align: right">@Html.Label(zip)</td>}
                <td>Total Zip Codes</td>
            </tr>
            <tr><td style="text-align: right">@Html.Label(Model.MonthYear[0])</td></tr>
            <tr><td style="text-align: right">@Html.Label(Model.MonthYear[1])</td></tr>

            @for (var i = 1; i < Model.HelperTitles.Length; i++)
            {
                <tr>
                    <td style="text-align: left">@Html.Label(Model.HelperTitles[i])</td>
                    @for (int j = 1; j < Model.ZipCodes.Count +2; j++ )
                    {
                        <td style="text-align: right">@Html.Label(Model.ZipCounts[i, j].ToString())</td>
                    }
                </tr>
            }
        </table>
    </div>
    <br />
    <div>
        @Html.ActionLink("Download to Excel File", "HelperReportToExcel", new { yy = Model.Year, mm = Model.Month }, null)
        <br />
        @Html.ActionLink("Return to Reports Menu", "ReturnToReportsMenu", new { })
        <br />
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </div>
</body>
</html>
<script type="text/javascript">
    $("#Year").change(function () {
        HelperReport();
    });
</script> @*Year Change*@
<script type="text/javascript">
    $("#Month").change(function () {
        HelperReport();
    });
</script> @*Month Change*@
