@using System.Web.Mvc.Html
@model BHelp.ViewModels.OpenDeliveryViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpenFilters</title>
</head>

<body>
    @using (Html.BeginForm("OpenFilters", "Deliveries", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.Label("Open Deliveries Count:")
            @Html.Label(Model.OpenDeliveryCount.ToString())&nbsp;
            @if (Model.OpenDeliveryCount > 0)
            {
                @Html.Label(" with " + Model.DeliveryDatesList.Count + " Delivery Dates  ")
                @Html.DropDownListFor(m => Model.ReportTitle, new SelectList(Model.DeliveryDatesList))
                @Html.Label(" and " + Model.DriverList.Count + " Drivers ")
                @Html.DropDownListFor(m => Model.ReportTitle, new SelectList(Model.DriverList))
            }
        </div>
        <div id="FilterOptions">
            <hr />
            <div>
                @Html.Label("Show Open Deliveries for Delivery Date ")
                @Html.DropDownListFor(m => Model.SelectedDeliveryDate,Model.DeliveryDatesSelectList)
                <input name="btnByDate" type="submit" value="Go" class="btn btn-default" id="ByDateButton" />
            </div>

            <div id="SelectedDeliveries">
                @if (Model.SelectedDeliveriesList.Count > 0)
                {
                    <table>
                        <tr>
                            <td><b>@Html.Label("Select")</b></td>
                            <td><b>@Html.Label("Delivery Date")</b></td>
                            <td><b>@Html.Label("Client")</b></td>
                        </tr>
                    @for (int i = 0; i < Model.SelectedDeliveriesList.Count; i++)
                    {
                        <tr>
                            <td style="text-align: center">@Html.CheckBoxFor(c => c.SelectedDeliveriesList[i].Checked)</td>
                            <td style="text-align: center">@Html.Label(Model.SelectedDeliveriesList[i].DateDeliveredString)</td>
                            <td>@Model.SelectedDeliveriesList[i].ClientId</td>
                        </tr>
                    }
                    </table>
                }
            </div>

            <div>
                <br/>
                @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })
            </div>
        </div>
    }
</body>

</html>
