@using System.Web.Mvc.Html
@model BHelp.ViewModels.OpenDeliveryViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpenFilters</title>
    <style>
        #GoButton {
            background-color: blue;
            color: white
        }

        #ClearAllButton {
            background-color: yellow;
            color: black
        }

        #CheckAllButton {
            background-color: green;
            color: white
        }
    </style>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>

<body>
    @using (Html.BeginForm("OpenFilters", "Deliveries", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
        </div>
        <div>
            @Html.Label("Open Deliveries Count:")
            @Html.Label(Model.OpenDeliveryCount.ToString())&nbsp;
            @if (Model.OpenDeliveryCount > 0)
            {
                @Html.Label(" with " + Model.DistinctDeliveryDatesList.Count + " Delivery Dates  ")
                @Html.DropDownListFor(m => Model.ReportTitle, new SelectList(Model.DistinctDeliveryDatesList))
                @Html.Label(" and " + Model.DistinctDriverList.Count + " Drivers ")
                @Html.DropDownListFor(m => Model.ReportTitle, new SelectList(Model.DistinctDriverList))
            }
        </div>
        <hr />
        <div id="FilterOptions">
            <table>
                <tr>
                    <td></td>
                    <td style="text-align: center">
                        <b>@Html.Label("Choose Your View:")</b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        @Html.Label("Show ALL Open Deliveries")&nbsp;
                    </td>
                    <td>
                        <input name="btnAllCheckAll" type="submit" value="Select - Check All" class="btn btn-default" id="CheckAllButton"/>
                        @if (Model.ButtonGroupName == "All" && Model.BtnAllCheckAll != null)
                        {@Html.Label(((char)0x221A).ToString(), new { style = "color: red; font-weight: bold" })}
                        <input name="btnAllClearAll" type="submit" value="Select - Uncheck All" class="btn btn-default" id="ClearAllButton"/>
                        @if (Model.ButtonGroupName == "All" && Model.BtnAllClearAll != null)
                        {@Html.Label(((char)0x221A).ToString(), new { style = "color: red; font-weight: bold" })}
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Show Open Deliveries for Delivery Date ")
                        @Html.DropDownListFor(m => Model.SelectedDistinctDeliveryDate, Model.DistinctDeliveryDatesSelectList)
                    </td>
                    <td>
                        <input name="btnByDateCheckAll" type="submit" value="Select - Check All" class="btn btn-default" id="CheckAllButton"/>
                        @if (Model.ButtonGroupName == "ByDate" && Model.BtnByDateCheckAll != null)
                        {@Html.Label(((char)0x221A).ToString(), new { style = "color: red; font-weight: bold" })}
                        <input name="btnByDateClearAll" type="submit" value="Select - Uncheck All" class="btn btn-default" id="ClearAllButton"/>
                        @if (Model.ButtonGroupName == "ByDate" && Model.BtnByDateClearAll != null)
                        {@Html.Label(((char)0x221A).ToString(), new { style = "color: red; font-weight: bold" })}
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Show Open Deliveries for Driver ")
                        @Html.DropDownListFor(m => Model.SelectedDistinctDriverId, Model.DistinctDriversSelectList)
                    </td>
                    <td>
                        <input name="btnByDriverCheckAll" type="submit" value="Select - Check All" class="btn btn-default" id="CheckAllButton" />
                        @if (Model.ButtonGroupName == "ByDriver" && Model.BtnByDriverCheckAll != null)
                        {@Html.Label(((char)0x221A).ToString(), new { style = "color: red; font-weight: bold" })}
                        <input name="btnByDriverClearAll" type="submit" value="Select - Uncheck All" class="btn btn-default" id="ClearAllButton" />
                        @if (Model.ButtonGroupName == "ByDriver" & Model.BtnByDriverClearAll != null)
                        {@Html.Label(((char)0x221A).ToString(), new { style = "color: red; font-weight: bold" })}
                    </td>
                </tr>
            </table>
        </div>
        <hr />
        <div id="SelectedDeliveries">
            @if (Model.SelectedDeliveriesList.Count > 0)
            {
                <table>
                    <tr>
                        <td><b>@Html.Label("Chk")</b></td>
                        <td><b>@Html.Label("Delv Date")</b></td>
                        <td><b>@Html.Label("EX*")</b></td>
                        <td style="text-align: center"><b>@Html.Label("Driver")</b></td>
                        <td style="text-align: center"><b>@Html.Label("Zip")</b></td>
                        <td style="text-align: center"><b>@Html.Label("City")</b></td>
                        <td style="text-align: center"><b>@Html.Label("DelvDateOD")</b></td>
                        <td style="text-align: center"><b>@Html.Label("Client")</b></td>
                        <td><b>A</b></td>
                        <td><b>B</b></td>
                        <td><b>C</b></td>
                        <td><b>S</b></td>
                        <td><b>G</b></td>
                    </tr>
                    @for (int i = 0; i < Model.SelectedDeliveriesList.Count; i++)
                    {
                <tr>
                    <td style="text-align: center">@Html.CheckBoxFor(c => c.SelectedDeliveriesList[i].IsChecked)</td>
                    <td style="text-align: center">@Html.Label(Model.SelectedDeliveriesList[i].DateDeliveredString)</td>
                    @if (Model.SelectedDeliveriesList[i].EligiibilityRulesException)
                    {
                        <td style="text-align: center; color: red; font-weight: bold">EX!</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@Model.SelectedDeliveriesList[i].DriverName</td>
                    <td>@Model.SelectedDeliveriesList[i].Zip</td>
                    <td>@Model.SelectedDeliveriesList[i].City</td>
                    <td>@Model.SelectedDeliveriesList[i].DeliveryDateODName</td>
                    <td title=@Model.SelectedDeliveriesList[i].Client.NameAddressToolTip>@Model.SelectedDeliveriesList[i].Client.ClientNameAddress</td>
                    @if (Model.SelectedDeliveriesList[i].AllZeroProducts)
                    {
                        <td style="text-align: center; color: red; font-weight: bold">@Model.SelectedDeliveriesList[i].FullBags</td>
                        <td style="text-align: center; color: red; font-weight: bold">@Model.SelectedDeliveriesList[i].HalfBags</td>
                        <td style="text-align: center; color: red; font-weight: bold">@Model.SelectedDeliveriesList[i].CBags</td>
                        <td style="text-align: center; color: red; font-weight: bold">@Model.SelectedDeliveriesList[i].KidSnacks</td>
                        <td style="text-align: center; color: red; font-weight: bold">@Model.SelectedDeliveriesList[i].GiftCards</td>
                    }
                    else
                    {
                        <td style="text-align: center">@Model.SelectedDeliveriesList[i].FullBags</td>
                        <td style="text-align: center">@Model.SelectedDeliveriesList[i].HalfBags</td>
                        <td style="text-align: center">@Model.SelectedDeliveriesList[i].CBags</td>
                        <td style="text-align: center">@Model.SelectedDeliveriesList[i].KidSnacks</td>
                        <td style="text-align: center">@Model.SelectedDeliveriesList[i].GiftCards</td>
                    }

                </tr>
                    }
                </table>
            }
        </div>
      
        <div id="Update Buttons">
            <br/>
            @if (Model.SelectedDeliveriesList.Count > 0)
            {
            <div>
                <span><b>Choose one option below to update </b></span>
                <span style="text-decoration: underline"><b>all</b></span>
                <span><b>checked deliveries:</b></span>
                <br />
                Repace All Checked Items Delivery Date with this date:
                @Html.TextBoxFor(m => m.ReplacementDeliveryDate, "{0:MM/dd/yyyy}",
                    new { id = "ReplacementDeliveryDate", style = "width: 75px;" })
                <span style="color: darkmagenta"> &#8592;Click to change</span>
                <input name="btnReplacementDeliveryDate" type="submit" value="Go" class="btn btn-default" id="GoButton" />
                <br />
                Replace All Checked Items Driver with this Driver:
                @Html.DropDownListFor(m => Model.ReplacementDriverId, Model.DriversSelectList)
                <input name="btnReplacementDriverId" type="submit" value="Go" class="btn btn-default" id="GoButton" />
                <br />
                Replace All Checked Items Delivery Date OD with this OD:
                @Html.DropDownListFor(m => Model.ReplacementDeliveryDateODId, Model.ODSelectList)
                <input name="btnReplacementDeliveryDateODId" type="submit" value="Go" class="btn btn-default" id="GoButton" />
                <br />
                Set All Checked Items Delivery Status to Delivered
                <span style="color: darkmagenta"> &nbsp;(Except when zero bags and cards)</span>
                <input name="btnSetStatusToDelivered" type="submit" value="Go" class="btn btn-default" id="GoButton" />
                <br />
                <span><b>Or:</b></span>
                <br/>
                Download Checked Deliveries to Excel
                <input name="btnExcelOpenSelected" type="submit" value="Go" class="btn btn-default" id="GoButton" />
                <br />
                Download Checked Deliveries to CSV File
                <input name="btnCSVOpenSelected" type="submit" value="Go" class="btn btn-default" id="GoButton" />
              </div>
              <br/>
              <span style="color:crimson "><small>* EX = Eligibility Rules Exception found</small></span>
        }
        </div>
    <div>
        <br />
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </div> @*Return to Dashboard*@

    }
</body>
</html>
<script>
    $(function () {
        window.$("#ReplacementDeliveryDate").datepicker();
    });
</script> @*ReplacementDeliveryDate datepicker*@