﻿@using DocumentFormat.OpenXml.Bibliography
@model BHelp.ViewModels.LoginViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <style>
        .field-validation-error {
            color: red
        }
    </style>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
<div class="row">
    <div class="col-md-8"> 
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <hr />
                <label class="field-validation-error">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</label>

                <table>
                    <tr>
                        <td style="text-decoration: underline"><strong>Bethesda Help Food Delivery Program</strong></td>
                    </tr>
                </table>

                <br />
                @*<p>@Html.ActionLink("Register", "Register")</p>*@

                <div class="form-group focus">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <label class="field-validation-error">@Model.ErrorMessage</label>
                </div>
                <div class="form-group">
                    <br>
                    <div class="col-md-10">
                        <input type="submit" value="Log in" class="btn" />
                    </div>
                </div>

                @*Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
</div>
@*For use during major changes:*@
<br />
<br />
<br />
<br />
@*<details>
    <summary>Database Info</summary>
    <p>Server: @Model.ServerName</p>
    <p>Database: @Model.DatabaseName</p>
</details>*@

    @*@Scripts.Render("~/bundles/jqueryval")*@

</body>
</html>
