@using System.Web.Mvc.Html
@model BHelp.ViewModels.DriverScheduleViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <style>
        #schedule {border-collapse: collapse;border: thin solid black}
        .top {width: 185px;border-right: thin solid black;}
        .edit {width: 160px;}
        #SaveButton {background-color: blue;color: white}
    </style>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" /> @*// for date-picker*@
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    @using (Html.BeginForm("Edit", "DriverSchedule", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        if (Model.AllowEdit)
        {
            <div id="CurrentDate">
                @*== Div hidden by jscript below ==*@
                @Html.TextBoxFor(m =>
                    m.CurrentDate, new { id = "curDate" })
            </div>
            @*===================== Edit Section ====================*@
            <div style="background: lightgreen ">
                @*EditSection"*@
                <table>
                    <tr>
                        <td><b>Driver Schedule</b></td>
                        <td style="text-align: center">Date:</td>
                        <td style="text-align: right">Driver:</td>
                        <td>
                            @Html.DropDownListFor(m => m.DriverId,
                                new SelectList(Model.DriverList,
                                    "Value", "Text", Model.DriverId),
                                new { @class = "form-control", @onchange="submitForm();" })
                            @Html.ValidationMessageFor(m => m.DriverId, "", new { @class = "text-danger" })
                        </td>
                        <td style="text-align: right">Group:</td>
                        <td>
                            @Html.DropDownListFor(m => m.GroupId,
                                new SelectList(Model.GroupList,
                                    "Value", "Text"),
                                new { @class = "form-control", @onchange = "submitForm();" })
                            @Html.ValidationMessageFor(m => m.GroupId, "", new { @class = "text-danger" })
                        </td>
                        <td style="text-align: center">Notes:</td>
                    </tr>
                    <tr>
                        <td style="text-align: center"><b>Edit Section</b></td>
                        <td style="text-align: center">
                            @Html.TextBoxFor(model => model.Date, Model.Date.ToString("MM/dd/yyyy"),
                                new { id = "BoxDate", style = "width: 75px; background-color: yellow; text-align:center" })
                        </td>
                        <td style="text-align: right">Backup:</td>
                        <td>
                            @Html.DropDownListFor(m => m.BackupDriverId,
                                new SelectList(Model.BackupDriverList,
                                    "Value", "Text"),
                                new { @class = "form-control", @onchange = "submitForm();" })
                            @Html.ValidationMessageFor(m => m.BackupDriverId, "", new { @class = "text-danger" })
                        </td>
                        <td style="text-align: right">GpDriver:</td>
                        <td>
                            @Html.DropDownListFor(m => m.GroupDriverId,
                                new SelectList(Model.DriverList,
                                    "Value", "Text"),
                                new { @class = "form-control", @onchange = "submitForm();" })
                            @Html.ValidationMessageFor(m => m.GroupDriverId, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.TextAreaFor(t => t.Note, new { style = "height: 12px" })
                            @Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
                        </td>
                        @if (!Model.IsHoliday)
                        {
                            <td>
                                &nbsp;&nbsp;
                                <input type="submit" value="Save" class="btn btn-default" id="SaveButton" />
                            </td>
                        }
                    </tr>
                </table>
                <hr />
            </div>
        }
        <div>
            @*===================== Calendar Section =================*@
            <table>
                <tr>
                    <td>
                        <b>Bethesda Help Drivers Schedule - </b><span style="color: red; font: bold">
                            <b>@Model.MonthName&nbsp;@Model.Year</b>
                        </span>
                    </td>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.ActionLink(" Previous Month", "PreviousMonth",
                            new { @Model.Month, @Model.Year })
                    </td>
                    <td>
                        &nbsp;&nbsp;@Html.ActionLink(" Next Month", "NextMonth",
                            new { @Model.Month, @Model.Year })
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Return to Dashboard", "Index", "Home")</td>
                </tr>
            </table>
        </div>
        <div>
            <table Id="schedule">
                <tr>
                    <th class="top">MONDAY</th>
                    <th class="top">TUESDAY</th>
                    <th class="top">WEDNESDAY</th>
                    <th class="top">THURSDAY</th>
                    <th class="top">FRIDAY</th>
                </tr>

                @{var i = 0;}
                @for (var row = 1; row < 6; row++)
                {
                    <tr>
                        @for (var col = 1; col < 6; col++)
                        {
                            i++;
                            var bgcolor = "white";
                            if (Model.DriversSchedule[i].Date == Model.Date && Model.AllowEdit)
                            {
                                bgcolor = "yellow";
                            }
                        <td style="border: thin solid black; vertical-align: top; background-color: @bgcolor">
                            @if (Model.DriversSchedule[i].Date > DateTime.MinValue)
                            {
                                <b>@Html.Label(Model.DriversSchedule[i].DayString)</b>

                                if (Model.AllowEdit)
                                {
                                    if (!Model.BoxHoliday[i])
                                    {
                                        <span style="font-size: small">
                                            @Html.ActionLink("Edit", "Edit",
                                                new { boxDate = Model.DriversSchedule[i].Date })
                                        </span>
                                    }
                                }
                                if (Model.BoxDriverName[i] == null)
                                {
                                    if (!Model.BoxHoliday[i])
                                    {
                                        <span style="font-size: small">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            @Html.Label("Driver: ")
                                        </span>
                                        <span style="text-decoration-color: red">
                                            @Html.Label("TBD", new { style = "color: red; font-weight: bold" })
                                        </span>
                                    }
                                }
                                else
                                {
                                    <span style="font-size: small">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @Html.Label("Driver")
                                    </span>
                                    <br />
                                    @Html.Raw(Model.BoxDriverName[i])

                                    if (Model.BoxDriverPhone[i] != null)
                                    {
                                        <br />
                                        @Html.Label(Model.BoxDriverPhone[i])
                                    }

                                    if (Model.BoxDriverPhone2[i] != null)
                                    {
                                        <br />
                                        @Html.Label(Model.BoxDriverPhone2[i])
                                    }
                                    if (Model.BoxDriverEmail[i] != null)
                                    {
                                        var subject = "BHELP Food Program";
                                        var body = @Model.DriversSchedule[i].Date.ToLongDateString()
                                                   + " Driver: " + @Model.BoxDriverName[i];
                                        <a href="mailto:@Uri.EscapeDataString(Model.BoxDriverEmail[i])
                                       ?Subject=@Uri.EscapeDataString(subject)
                                       &body=@Uri.EscapeDataString(body)">
                                            @Model.BoxDriverEmail[i]
                                        </a>
                                    }
                                }

                                if (Model.BoxBackupDriverName[i] == null)
                                {
                                    if (!Model.BoxHoliday[i])
                                    {
                                        <br />
                                        <span style="font-size: small">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            @Html.Label("Backup Driver: ")
                                        </span>
                                        <span style="text-decoration-color: red">
                                            @Html.Label("TBD", new { style = "color: red; font-weight: bold" })
                                        </span>
                                    }
                                }
                                else
                                {
                                    <br />
                                    <span style="font-size: small">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @Html.Label("Backup Driver")
                                    </span>
                                    <br />
                                    @Html.Raw(Model.BoxBackupDriverName[i])

                                    if (Model.BoxBackupDriverPhone[i] != null)
                                    {
                                        <br />
                                        @Html.Label(Model.BoxBackupDriverPhone[i])
                                    }

                                    if (Model.BoxBackupDriverPhone2[i] != null)
                                    {
                                        <br />
                                        @Html.Label(Model.BoxBackupDriverPhone2[i])
                                    }
                                    if (Model.BoxBackupDriverEmail[i] != null)
                                    {
                                        var subject = "BHELP Food Program";
                                        var body = @Model.DriversSchedule[i].Date.ToLongDateString()
                                                   + " Backup Driver: " + @Model.BoxBackupDriverName[i];
                                        <a href="mailto:@Uri.EscapeDataString(Model.BoxBackupDriverEmail[i])
                                       ?Subject=@Uri.EscapeDataString(subject)
                                       &body=@Uri.EscapeDataString(body)">
                                            @Model.BoxBackupDriverEmail[i]
                                        </a>
                                    }
                                }

                                if (Model.BoxGroupName[i] != null)
                                {
                                    <br />
                                    <span style="font-size: small">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @Html.Label("Group")
                                    </span>
                                    <br />
                                    @Html.Raw(Model.BoxGroupName[i])
                                }

                                if (Model.BoxGroupDriverName[i] == null)
                                {
                                    if (!Model.BoxHoliday[i])
                                    {
                                        if (Model.BoxGroupName[i] != null)
                                        {
                                            <br />
                                            <span style="font-size: small">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                @Html.Label("Group Driver: ")
                                            </span>
                                            <span style="text-decoration-color: red">
                                                @Html.Label("TBD", new { style = "color: red; font-weight: bold" })
                                            </span>
                                        }
                                    }
                                }
                                else
                                {
                                    <br />
                                    <span style="font-size: small">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @Html.Label("Group Driver")
                                    </span>
                                    <br />
                                    @Html.Raw(Model.BoxGroupDriverName[i])

                                    if (Model.BoxGroupDriverPhone[i] != null)
                                    {
                                        <br />
                                        @Html.Label(Model.BoxGroupDriverPhone[i])
                                    }

                                    if (Model.BoxGroupDriverPhone2[i] != null)
                                    {
                                        <br />
                                        @Html.Label(Model.BoxGroupDriverPhone2[i])
                                    }
                                    if (Model.BoxGroupDriverEmail[i] != null)
                                    {
                                        var subject = "BHELP Food Program";
                                        var body = @Model.DriversSchedule[i].Date.ToLongDateString()
                                                   + " Group Driver: " + @Model.BoxGroupDriverName[i];
                                        <a href="mailto:@Uri.EscapeDataString(Model.BoxGroupDriverEmail[i])
                                       ?Subject=@Uri.EscapeDataString(subject)
                                       &body=@Uri.EscapeDataString(body)">
                                            @Model.BoxGroupDriverEmail[i]
                                        </a>
                                    }
                                }

                                if (Model.BoxNote[i] != null)
                                {
                                    if (!Model.BoxHoliday[i])
                                    {
                                        <br />
                                        <span style="font-size: small">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            @Html.Label("Notes")
                                        </span>
                                        <br />
                                    }
                                    @Html.Raw(Model.BoxNote[i].Replace(Environment.NewLine, "<br/>")) @*Html.Label will not display if it contains a period*@
                                }

                        }
                        </td>
                        }
                    </tr>
                }
            </table>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

            </div>
        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Download to Excel File", "DriverScheduleToExcel", "DriverSchedule")
        <br />
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
    </div>
</body>
</html>

<script type='text/javascript'>
    $(document).ready(function () {
        window.$("#CurrentDate").hide();   /*for datapicker set mindate*/
    });
</script>
<script type="text/javascript">
    $(function () {
        //var cdt = window.moment(window.$("#curDate").val()).format("MM/DD/YYYY");
        //cdt = cdt.split("/");
        //var cdt = new Date();
        //var currentDate = new Date(cdt[1] + "/" + cdt[0] + "/" + cdt[2]);
        //var currentDate = new Date(cdt.getYear(), cdt.getMonth , 18);
        //var setMinDate = currentDate; //new Date(currentDate.getYear, currentDate.getMonth(), currentDate.getDay());
       // var setMinDate = new Date(2022, 4, 19);
        window.$("#BoxDate").datepicker({
           beforeShowDay: window.$.datepicker.noWeekends
        });
    });
</script>
<script type="text/javascript">
    window.$(function () {
        window.$('#BoxDate').change(function () {
            var _boxDate = window.$(this).val();
            var link = '@Url.Action("Edit", "DriverSchedule",
                           new { boxDate = "-1" })';
            link = link.replace("-1", _boxDate);
            window.location.href = link;
        });
    });
</script>

<script >
    $("#schedule td").click(function() {
        var celltext = (this).text();  
        Test(celltext);
    });
</script>

<script>
    function submitForm()
    {
        window.$('form').submit();
    }
</script>
