 @{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportsMenu</title>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    <table>
        <tr><td><b>Reports</b></td></tr>
        <tr></tr>
        <tr><td><a href="@Url.Action("QORKReport", "Reports")">Weekly County QORK Report</a><br /></td></tr>
        <tr><td><a href="@Url.Action("CountyReport", "Deliveries")">Quarterly County Report</a><br /></td></tr>
        @*<tr><td><a href="@Url.Action("QuorkReport", "Deliveries")">Old Weekly QORK Report</a><br /></td></tr>*@
        <tr><td><a href="@Url.Action("HelperReport", "Deliveries")">Bethesda Helper Data</a><br /></td></tr>
        <tr><td><a href="@Url.Action("VolunteerDatesReport", "Users")">Volunteer Roles and Start / End Dates</a><br /></td></tr>
        <tr><td><a href="@Url.Action("ActiveClientsLatestDeliveries", "Clients")">Active Clients Latest Deliveries</a><br /></td></tr>
        <tr><td><a href="@Url.Action("WeeklyInfoReport", "Reports")">Weekly Info Report</a><br /></td></tr>
        <tr><td><a href="@Url.Action("DriverMasterList", "Reports")">Driver Master List</a><br /></td></tr>
        <tr><td><a href="@Url.Action("ODMasterList", "Reports")">OD Master List</a><br /></td></tr>
        <tr><td><a href="@Url.Action("ActiveVolunteerDetails", "Reports")">Active Volunteers Details</a><br /></td></tr>
    </table>
<br/>
<div>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>

<script>
    $(function () {
        window.$("#BeginMonth").datepicker();
    });
</script> @*BeginMonth datepicker*@

