@using System.Web.Mvc.Html
@model BHelp.ViewModels.GroupMemberViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
</head>
<body>
<span><b>Maintain Group Members</b></span>
<div id="SelectGroup">
    <table class="table">
        <tr>
            <td>
                @Html.DropDownList("selectGroupDDL", Model.GroupNameSelectList
                    , "-Select Group-", new { @onchange = "groupNameChange(this.value)" })
            </td>
        </tr>
    </table>
</div>

@if (Model.SelectedGroupId != null)
{
    <div id="MembersDiv">
        <table>
            <tr>
                <td>
                    @Html.DropDownList("groupMembersDDL", Model.ClientGroupMembers
                        , new { size = 10 })
                </td>
                <td><b>
                    &nbsp;&nbsp;@Html.Label("Add Member: ") </b>
                    @Html.DropDownList("selectClientDDL", Model.AllClients)
                </td>
            </tr>
        </table>
    </div>
}
<br/>
<div>
    <table>
        <tr>
            <td>
                @Html.ActionLink("Return To Dashboard", "ReturnToDashboard")
            </td>
        </tr>
    </table>
</div>

</body>
</html>
<script>
    function groupNameChange(val) {
        window.location.href = "/GroupMembers/Index?gpId=" + val;
    }
</script>
<script type="text/javascript">
    $("#selectGroupDDL").change(GroupNameChange);
</script>
<script type="text/javascript">
    $("#selectClientDDL").change(AddGroupMember);
</script>
