@using System.Web.Mvc.Html
@model BHelp.ViewModels.GroupMemberViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
</head>
<body>
<div>
    <table>
        <tr>
            <td><b>Group Members</b></td>
            @if(Model.SelectedGroupId != null)
            {@Html.Raw("GetGroupMembers")}
        </tr>
    </table>
</div>
<div id="SelectGroup">
    <table class="table">
        <tr>
            <td>
                @Html.DropDownList("selectGroupDDL", Model.GroupNameSelectList, "-Select Group-")
            </td>
        </tr>
    </table>
</div>
<div id="MembersDiv" style="display: none">
    <table>
        <tr>
            <td>
                @Html.ListBox("groupMembersDDL", Model.ClientGroupMembers
                    , new { size = 10})
            </td>
            <td>
                &nbsp;&nbsp;@Html.Label("Add Member: ")
                @Html.DropDownList("selectClientDDL", Model.AllClients)
            </td>
        </tr>
    </table>
</div>
<br/>
<div>
    <table>
        <tr>
            <td>
                @Html.ActionLink("Return To Dashboard", "ReturnToDashboard")
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $("#selectGroupDDL").change(GetGroupMembers);
</script>
<script type="text/javascript">
    $("#selectClientDDL").change(AddGroupMember);
</script>
</body>
</html>
