@model BHelp.ViewModels.GroupMemberViewModel
@{Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Maintain Group Members</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <style>
        #GoButton {background-color: blue;color: white}
        #GoButtonLabel { color: blue; text-decoration:underline}
    </style>
</head>
<body>
    <b>@Html.Label("Maintain Group Members for " + Model.SelectedGroupName)</b>&nbsp;(@Model.GroupMemberSelectList.Count)
<div>

    @if (Model.GroupMemberSelectList.Count > 0)
    {
        <table>
            @for (int i = 0; i < Model.GroupMemberSelectList.Count; i++)
            {
            <tr>
                <td>@Model.GroupMemberSelectList[i].Text</td>
                <td>@Model.GroupMemberSelectList[i].Value</td>
                <td>
                @Html.ActionLink("Remove", "Remove",
                    new { clientId = Model.GroupMemberSelectList[i].Value })
                </td>
            </tr>
            }
        </table>
    }
    
    <table>
        <tr>
            <td>
                <b>@Html.Label("Add Member: ") </b>
                @Html.DropDownListFor(m => m.SelectedClientId,
                    new SelectList(Model.AllClients, "Value", "Text"),
                    new { id = "ClientDDL" })
            </td>
            <td>
                @Html.Label("Sort by Last Name:")
                @if (Model.SelectedSortOrder == "LastName")
                {
                    <input type="radio" checked="checked" onclick="window.location.href = '@Url.Action("ChangeClientSortOrder",
                     "GroupMembers", new {sortOrder = "LastName" })';" />
                    @Html.Label("by Street Name:")
                    <input type="radio" onclick="window.location.href = '@Url.Action("ChangeClientSortOrder",
                   "GroupMembers", new {sortOrder = "StreetName" })';" />
                }
                else
                {
                    <input type="radio" onclick="window.location.href = '@Url.Action("ChangeClientSortOrder",
                       "GroupMembers", new {  sortOrder = "LastName" })';" />
                    @Html.Label("by Street Name:")
                    <input type="radio"checked ="checked" onclick="window.location.href = '@Url.Action("ChangeClientSortOrder",
                             "GroupMembers", new {sortOrder = "StreetName" })';" />
                }
            </td>
        </tr>
        @if (Model.GroupMemberSelectList.Count > 0)
        {
            <tr>
                <td>
                    <span id="GoButtonLabel">Create a delivery for all group members</span>&nbsp;
                    <input type="button" id="GoButton" value="Go" onclick="window.location.href =
                         '@Url.Action("CreateDeliveries", "GroupMembers",
                              new {nameId = Model.NameId})';" />
                 </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Download to Excel File", "GroupToExcel", new { nameId = Model.NameId })
                </td>
            </tr>
        }
    </table>
</div>
<div>

    @Html.ActionLink("Back To Group List", "Index")
    <br/>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>

<script>
    $('#Sort').change(function() {
        window.location.href = '@Url.Action("ChangeClientSortOrder", "GroupMembers",
                                    new { sortOrder = "LastName" })';
    });
</script>

<script>
    $('#ClientDDL').change(function () {
        var mbrId = window.$(this).val();
        var gpId = @Model.SelectedGroupId;
        var link = '@Url.Action("AddGroupMember", "GroupMembers",
                        new {  clientId="-2"})';
        link = link.replace("-1", gpId);
        link = link.replace("-2", mbrId);
        window.location.href = link;
    });
</script>
