@model BHelp.ViewModels.UsersInRolesReportViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VolunteerDatesReport</title>
    <style>
        #ColA {
            width: 100px;
        }

        #ColB {
            width: 100px;
        }

        #ColC {
            width: 35px;
        }

        #ColD {
            width: 75px;
        }

        #ColE {
            width: 75px;
        }

        #ColF {
            width: 220px;
        }
    </style>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    @for (var i = 0; i < Model.Report.Count; i++)
    {
        <table>
        @for (var j = 0; j < Model.Report[i].Count; j++)
        {
            <tr>
                @if (j == 0)
                {
                    <td style="text-align: center",id="ColA"><b>@Model.Report[i][j][0]</b></td>
                    <td style="text-align: center",id="ColB"><b>@Model.Report[i][j][1]</b></td>
                    <td style="text-align: center",id="ColC"><b>@Model.Report[i][j][2]</b></td>
                    <td style="text-align: center",id="ColD"><b>@Model.Report[i][j][3]</b></td>
                    <td style="text-align: center",id="ColE"><b>@Model.Report[i][j][4]</b></td>
                    <td style="text-align: left",id="ColF"><b>@Model.Report[i][j][5]</b></td>
                    <td style="text-align: left",id="ColG"><b>@Model.Report[i][j][6]</b></td>
                }
                else
                {
                    <td id="ColA">@Model.Report[i][j][0]</td>
                    <td id="ColB">@Model.Report[i][j][1]</td>
                    <td id="ColC">@Model.Report[i][j][2]</td>
                    <td  style="text-align: center",id="ColD">@Model.Report[i][j][3]</td>
                    <td  style="text-align: center",id="ColE">@Model.Report[i][j][4]</td>
                    <td id="ColF">@Model.Report[i][j][5]</td>
                    <td id="ColG">@Model.Report[i][j][6]</td>
                }
            </tr>
        }    
        </table>
    }
<br/>
<div>
    @Html.ActionLink("Download to Excel File", "VolunteerDatesReportToExcel", new { }, null)
    <br />
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>
