@model BHelp.ViewModels.ReportsViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeeklyInfo</title>
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
<div>
    <table>
        <tr>
            <td><b>Weekly Info Report</b></td>
        </tr>
        <tr>
            <td style="text-align: right">Time Period: </td>
            <td>@Model.DateRangeTitle</td>&nbsp;&nbsp;
            <td>@Html.ActionLink(" Previous Week", "WeekPrevious", new { monday = Model.BeginDate })</td>
            <td>@Html.ActionLink(" Next Week", "WeekNext", new { monday = Model.BeginDate })</td>
        </tr>
    </table>

</div>
<div>
    <br/>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>
